{% extends 'base.html' %}


{% block content %}
    {% include 'snippets/paginate_by.html' %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-right">
                <a class="btn btn-info" href="{% url 'config:position_prefix_create' %}">Lagerpositionen freigeben</a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Prefix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td class="col-md-1">
                                <a href="{% url 'config:position_prefix_update' pk=object.pk %}">Bearbeiten</a>
                            </td>
                            <td>{{ object.prefix }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'snippets/paginate_by.html' %}
{% endblock %}