{% extends 'base.html' %}
{% load utils %}
{% block content %}

    <div class="col-md-12 table-bordered" style="background-color:white;padding:25px;">

        <a style="float:right;" href="{% url 'customer:update' pk=object.id %}">Bearbeiten</a>


        <p><b>Name: </b> {{object.contact.billing_address.firma}}</p>
        <p><b>Rechnungsadressen:</b></p>
        {% for address in object.contact.billing_addresses.all %}
            {{ address }}<br/>
        {% endfor %}
        <br/><br/>
        <p><b>Lieferadressen:</b></p>
        {% for address in object.contact.delivery_addresses.all %}
            {{ address }}<br/>
        {% endfor %}
    </div>

{% endblock %}



