{% extends "base.html" %}

{% block content %}
<div style="background-color:white;padding:25px;" class="table table-bordered">
<div style="text-align:center;">
{% if form.errors %}
<div style="color:red">
	<p>Dein Username oder Passwort ist falsch. Bitte versuch es noch einmal.</p>
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <div style="color:red">
    	<p>Bitte melde dich mit einem Account an, der Zugriff auf diese Seite hat.</p>
	</div>
    {% else %}
    {% endif %}
{% endif %}
<img src="https://trello-attachments.s3.amazonaws.com/584f14c5167f669c8f69949c/58b134adecaad54ce8516659/4d6e7aefc39677a0f57ef3bb5c1d2d0f/033442-rounded-glossy-black-icon-culture-holiday-ghost2.png"
height="80" width="80">
<h6>ERPGhost</h6>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.username.label_tag }}
{{ form.username }}

{{ form.password.label_tag }}
{{ form.password }}


<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

</div>
</div>
{% endblock %}