<div class="col-md-12">
    <form id="filter_form" action="." class="form-inline">
        {% for attname, verbose_name, GET_value in filter_fields %}
        {% if attname == "zustand" %}
              <select class="form-control" name="{{ attname }}">
                <option value="">Zustand auswählen</option>
                <option value="Neu" {% if "Neu" == GET_value %}selected="true"{% endif %}>Neu</option>
                <option value="A" {% if "A" == GET_value %}selected="true"{% endif %}>A</option>
                <option value="B" {% if "B" == GET_value %}selected="true"{% endif %}>B</option>
                <option value="C" {% if "C" == GET_value %}selected="true"{% endif %}>C</option>
                <option value="D" {% if "D" == GET_value %}selected="true"{% endif %}>D</option>
              </select>
        {% else %}
            <input class="form-control" name="{{ attname }}" placeholder="{{ verbose_name }}" value="{{ GET_value }}">
        {% endif %}
        {% endfor %}
        <input type="Submit" class="btn btn-default" value="Filter">
    </form>
</div>