{% for object, product, stock, product_state in object_list_zip %}
    <tr>
        <td class="col-md-1"><a href="{{ object.id }}">Ansicht</a>
            <a href="{{ object.id }}/edit">Bearbeiten</a>
        </td>
        <td class="show_hide" style="cursor:pointer;">
            <a collapseid="collapse_{{ forloop.counter }}">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </td>
        <td>
            {% if product.main_image %}
                <div style="max-height: 90px; max-width: 90px;min-height: 50px; min-width:50px;">
                    <img src="{{ product.main_image.url }}"
                         class="img-responsive img-modal" style="max-height: 90px;cursor:pointer;">
                </div>

                <div class="modal fade">
                 <!-- Modal -->
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="{{ product.main_image.url|default:''}}"
                                 class="img-responsive center-block">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </td>
        <td>
            {% if object.ean_vollstaendig %}
            {{ object.ean_vollstaendig|default:""}}
            {% else %}
                {% if product.ean %}
                    {{ product.ean|default:"" }}
                {% endif %}
            {% endif %}
        </td>
        <td>
            {% if object.sku %}
            {{object.sku|default:""}}
            {% else %}
                {% for sku in product.sku_set.all %}
                    {% if sku.state == object.zustand %}
                        {{ sku.sku|default:"" }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </td>
        <td>
            {% if object.title %}
                {{object.title|default:""}}
            {% else %}
                {{ product.title|default:"" }}
            {% endif %}
        </td>
        <td>
            {% if object.zustand %}
                {{object.zustand}}
            {% else %}
                {{ product_state|default:"" }}
            {% endif %}
        </td>
        <td> {{ object.lagerplatz}} </td>

        <td>
            {{ object.bestand}}
            {% if object.missing_amount %}
                <p style="color:red;padding-top:5px;">Fehlende Menge: {{ object.missing_amount }}</p>
            {% endif %}
        </td>
        <td>
              <div><b>Gesamt:</b> {{ stock.total|default:"0" }}</div>
                <br/>
            {% if stock.total %}
              <table class="table table-bordered">
                <thead>
                    <th>Neu</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                </thead>
                <tbody>
                    <tr>
                      <td>
                          {{ stock.total_neu|default:''}}
                      </td>
                      <td>
                          {{ stock.total_a|default:''}}
                      </td>
                      <td>
                          {{ stock.total_b|default:''}}
                      </td>
                      <td>
                          {{ stock.total_c|default:''}}
                      </td>
                      <td>
                          {{ stock.total_d|default:''}}
                      </td>
                    </tr>
                </tbody>
              </table>
            {% endif %}
            </div>
            </td>
    </tr>

    <tr id="collapse_{{ forloop.counter }}" class="collapse">
      <td colspan="12">
          <p>
              <b>Person: </b> {{ object.name }}
          </p>
          <p>
              <b>Aufnahme Datum: </b> {{ object.aufnahme_datum }}
          </p>
          <p>
              <b>Regal: </b> {{ object.regal }}
          </p>
          <p>
              <b>Scanner: </b> {{ object.scanner }}
          </p>
          <p>
              <b>Box: </b> {{ object.box }}
          </p>
          {% if object.short_description %}
              <p><b>Kurzbeschreibung: </b><br/> {{ object.short_description}}</p>
          {% endif %}
          {% if object.description %}
              <p><b>Beschreibung: </b><br/> {{ object.description}}</p>
          {% endif %}

            <h3>Produktbeschreibung</h3>
            <p><b>Artikelname: </b>{{ product.title }}</p>
            <p><b>Kurzbeschreibung: </b>{{ product.short_description }}</p>
            <br/>
            {% if product %}
              <p><a href="{% url "product:detail" pk=product.pk %}">Zur Artikelansicht</a></p>
            {% endif %}

      </td>
    </tr>

{% endfor %}

{% if not object_list %}
    <tr>
        <td class="text-center" colspan="12">
            <h1>Kein Ergebniss</h1><br/>
            {% if search_position %}
             <a class="btn btn-lg btn-info" href="{% url 'stock:position_book' pk=search_position.id %}">Artikel auf {{ search_position.position }} buchen</a>
            {% endif %}
        </td>
    </tr>
{% endif %}

<script>
    var show_hide_elements = document.getElementsByClassName("show_hide");

    for(var i = 0; i<show_hide_elements.length; i++){
        var show_hide_element = show_hide_elements[i];


        show_hide_element.onclick = function(e){
           var a_element = this.getElementsByTagName("a")[0];

           var show_or_hide_element = this.getElementsByTagName("span")[0];

           flip_down_up(show_or_hide_element);

           $(document.getElementById(a_element.getAttribute("collapseid"))).collapse("toggle")



        }
    }

    var flip_down_up = function(el){
           if(el.className.includes("chevron-down")){
               el.className = el.className.replace("chevron-down", "chevron-up");
           }else{
              el.className = el.className.replace("chevron-up", "chevron-down");
           }
    };

    var modal_images = document.getElementsByClassName("img-modal");
    for(var i = 0; i<modal_images.length; i++){
        modal_images[i].onclick = function(){
            var modal_div = this.parentElement.parentElement.getElementsByClassName("modal")[0];
            $(modal_div).modal();
        };
    }

</script>