{% extends 'base.html' %}


{% block content %}

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <h3>LKW{{ truck_id}}</h3>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="POST">{% csrf_token %}
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <p>
                            {{ form.errors }}
                        </p>
                        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                            <p>
                                {{ form.arrival_date.label_tag }}{{ form.arrival_date }}
                            </p>
                        </div>


                        <div class="col-md-12" style="padding: 25px 0 0 0;">
                            <div class="col-md-5" style="padding-left: 0px;padding-right:0px;">
                               {{ form.hour_start.label_tag }}{{ form.hour_start }}
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5" style="padding-left: 0px;padding-right: 0px;">
                                {{ form.minute_start.label_tag }}{{ form.minute_start }}
                            </div>
                        </div>

                        <div class="col-md-12" style="padding: 25px 0 0 0;">
                            <div class="col-md-5" style="padding-left: 0px;padding-right:0px;">
                               {{ form.hour_end.label_tag }}{{ form.hour_end }}
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5" style="padding-left: 0px;padding-right: 0px;">
                                {{ form.minute_end.label_tag }}{{ form.minute_end }}
                            </div>
                        </div>
                        <div class="text-center">
                            <p>
                                <div class="col-md-12" style="padding:25px 0 0 0;">
                                {% for checkbox in form.employees %}
                                    {{ checkbox }}
                                {% endfor %}
                                </div>
                            </p>
                            <div class="col-md-12" style="padding:15px 0 0 0;">
                                <input type="submit" value="Speichern" class="btn btn-primary btn-lg">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}