{% load utils %}
<form method="GET" action="{% url 'product:delete' %}">
<div class="col pull-right" style="padding-bottom: 10px;">
    <button type="submit" class="btn btn-default">Löschen</button>
</div>
{% for object, stock in object_list_zip %}
    <tr>
        <td class="col-md-1"><a href="{{ object.id }}">Ansicht</a>
            <a href="{{ object.id }}/edit">Bearbeiten</a>
            <input type="checkbox" name="item" value="{{object.pk}}">
        </td>
        <td class="show_hide" style="cursor:pointer;">
            <a collapseid="collapse_{{ forloop.counter }}">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </td>
            <td>
                {% if object.main_image %}
                    <div style="max-height: 90px; max-width: 90px;min-height: 50px; min-width:50px;">
                        <img src="{{ object.main_image.url|default:''}}"
                             class="img-responsive img-modal" style="max-height: 90px;cursor:pointer;">
                    </div>
                    <div class="modal fade">
                     <!-- Modal -->
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="{{ object.main_image.url|default:''}}"
                                     class="img-responsive center-block">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </td>
            <td> {{ object.ean|default:""}} </td>
            <td> {{ object.manufacturer|default:""}} </td>
            <td> {{ object.brandname|default:""}} </td>
            <td> {{ object.part_number|default:""}} </td>
            <td> {{ object.title|default:""}} </td>
            <td>
              <div><b>Gesamt:</b> {{ stock.total|default:"0" }}</div>
                <br/>
            {% if stock.total %}
              <table class="table table-bordered">
                <thead>
                    <th>Neu</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                </thead>
                <tbody>
                    <tr>
                      <td>
                          {{ stock.total_neu|default:''}}
                      </td>
                      <td>
                          {{ stock.total_a|default:''}}
                      </td>
                      <td>
                          {{ stock.total_b|default:''}}
                      </td>
                      <td>
                          {{ stock.total_c|default:''}}
                      </td>
                      <td>
                          {{ stock.total_d|default:''}}
                      </td>
                    </tr>
                </tbody>
              </table>
            {% endif %}
            </div>
            </td>
    </tr>
  <tr id="collapse_{{ forloop.counter }}" class="collapse">
      <td colspan="12">
          <p>
              <b>Bestand: </b> {{ stock }}
          </p>
          {% if object.short_description %}
              <p><b>Kurzbeschreibung: </b><br/> {{ object.short_description}}</p>
          {% endif %}
          {% if object.description %}
              <p><b>Beschreibung: </b><br/> {{ object.description}}</p>
          {% endif %}
      </td>
  </tr>
{% endfor %}
</form>

<script>
    var show_hide_elements = document.getElementsByClassName("show_hide");

    for(var i = 0; i<show_hide_elements.length; i++){
        var show_hide_element = show_hide_elements[i];


        show_hide_element.onclick = function(e){
           var a_element = this.getElementsByTagName("a")[0];

           var show_or_hide_element = this.getElementsByTagName("span")[0];

           flip_down_up(show_or_hide_element);

           $(document.getElementById(a_element.getAttribute("collapseid"))).collapse("toggle")



        }
    }

    var flip_down_up = function(el){
           if(el.className.includes("chevron-down")){
               el.className = el.className.replace("chevron-down", "chevron-up");
           }else{
              el.className = el.className.replace("chevron-up", "chevron-down");
           }
    };


    var modal_images = document.getElementsByClassName("img-modal");
    for(var i = 0; i<modal_images.length; i++){
        modal_images[i].onclick = function(){
            var modal_div = this.parentElement.parentElement.getElementsByClassName("modal")[0];
            $(modal_div).modal();
        };
    }

</script>