{{ form.billing_company.label_tag }}
{{ form.billing_company.errors }}
<p>{{ form.billing_company }}</p>
{{ form.billing_company.help_text }}

{{ form.billing_first_name.label_tag }}
{{ form.billing_first_name.errors }}
<p>{{ form.billing_first_name }}</p>
{{ form.billing_first_name.help_text }}

{{ form.billing_last_name.label_tag }}
{{ form.billing_last_name.errors }}
<p>{{ form.billing_last_name }}</p>
{{ form.billing_last_name.help_text }}

{{ form.billing_street.label_tag }}
{{ form.billing_street.errors }}
<p>{{ form.billing_street }}</p>
{{ form.billing_street.help_text }}

{{ form.billing_house_number.label_tag }}
{{ form.billing_house_number.errors }}
<p>{{ form.billing_house_number }}</p>
{{ form.billing_house_number.help_text }}

{{ form.billing_zip.label_tag }}
{{ form.billing_zip.errors }}
<p>{{ form.billing_zip }}</p>
{{ form.billing_zip.help_text }}

{{ form.billing_place.label_tag }}
{{ form.billing_place.errors }}
<p>{{ form.billing_place }}</p>
{{ form.billing_place.help_text }}