{{ form.delivery_company.label_tag }}
{{ form.delivery_company.errors }}
<p>{{ form.delivery_company }}</p>
{{ form.delivery_company.help_text }}

{{ form.delivery_first_name.label_tag }}
{{ form.delivery_first_name.errors }}
<p>{{ form.delivery_first_name }}</p>
{{ form.delivery_first_name.help_text }}

{{ form.delivery_last_name.label_tag }}
{{ form.delivery_last_name.errors }}
<p>{{ form.delivery_last_name }}</p>
{{ form.delivery_last_name.help_text }}

{{ form.delivery_street.label_tag }}
{{ form.delivery_street.errors }}
<p>{{ form.delivery_street }}</p>
{{ form.delivery_street.help_text }}

{{ form.delivery_house_number.label_tag }}
{{ form.delivery_house_number.errors }}
<p>{{ form.delivery_house_number }}</p>
{{ form.delivery_house_number.help_text }}

{{ form.delivery_zip.label_tag }}
{{ form.delivery_zip.errors }}
<p>{{ form.delivery_zip }}</p>
{{ form.delivery_zip.help_text }}

{{ form.delivery_place.label_tag }}
{{ form.delivery_place.errors }}
<p>{{ form.delivery_place }}</p>
{{ form.delivery_place.help_text }}