{{ form.name.label_tag }}
{{ form.name.errors }}
<p>{{ form.name }}</p>
{{ form.name.help_text }}

{{ form.company_image.label_tag }}
{{ form.company_image.errors }}
<p>{{ form.company_image }}</p>
{{ form.company_image.help_text }}


{{ form.phone.label_tag }}
{{ form.phone.errors }}
<p>{{ form.phone }}</p>
{{ form.phone.help_text }}

{{ form.fax.label_tag }}
{{ form.fax.errors }}
<p>{{ form.fax }}</p>
{{ form.fax.help_text }}

{{ form.email.label_tag }}
{{ form.email.errors }}
<p>{{ form.email }}</p>
{{ form.email.help_text }}

{{ form.website.label_tag }}
{{ form.website.errors }}
<p>{{ form.website }}</p>
{{ form.website.help_text }}

{{ form.website_conditions_link.label_tag }}
{{ form.website_conditions_link.errors }}
<p>{{ form.website_conditions_link }}</p>
{{ form.website_conditions_link.help_text }}

{{ form.bank.label_tag }}
{{ form.bank.errors }}
<p>{{ form.bank }}</p>
{{ form.bank.help_text }}

{{ form.bic.label_tag }}
{{ form.bic.errors }}
<p>{{ form.bic }}</p>
{{ form.bic.help_text }}

{{ form.iban.label_tag }}
{{ form.iban.errors }}
<p>{{ form.iban }}</p>
{{ form.iban.help_text }}

{{ form.commercial_register.label_tag }}
{{ form.commercial_register.errors }}
<p>{{ form.commercial_register }}</p>
{{ form.commercial_register.help_text }}

{{ form.tax_number.label_tag }}
{{ form.tax_number.errors }}
<p>{{ form.tax_number }}</p>
{{ form.tax_number.help_text }}


{{ form.sales_tax_identification_number.label_tag }}
{{ form.sales_tax_identification_number.errors }}
<p>{{ form.sales_tax_identification_number }}</p>
{{ form.sales_tax_identification_number.help_text }}

{{ form.qr_code.label_tag }}
{{ form.qr_code.errors }}
<p>{{ form.qr_code }}</p>
{{ form.qr_code.help_text }}
<br/><br/>