<div ng-app="ng_matchproduct" ng-controller="match_ctrl as m_ctrl">
    <form method="POST" id="main_form"> {% csrf_token %}
        <div class="table-bordered" style="padding:25px;background-color:white;">
            {% for field in form %}
                <div style="color:red">{{ field.errors }}</div>
                {{ field.label_tag }} {{ field }}
            {% endfor %}

            {% include "./formset_table.html" %}
            <button class="btn btn-primary" ng-submit="submit()" id="submit_btn" ng-disabled="has_exception">Speichern
            </button>
        </div>
    </form>
</div>

<script>
    var submit_btn = document.getElementById("submit_btn");
    var main_form = document.getElementById("main_form")

    submit_btn.onclick = function () {
        main_form.submit();
    };
</script>