{% extends 'base.html' %}

{% load utils %}

{% block content %}
    <div class="col-md-12" style="padding:0;">
    <br/>
        {% include "snippets/filter.html" %}
        {% include "snippets/pagination.html" %}
    </div>

    <div class="col-md-12" style="padding:0px;">
        <div class="panel panel-default" style="margin:15px;">
            <div class="panel-body">
                <form method="GET" action="{% url 'mission:delete' %}">
                    <div class="col-md-12" style="padding:0px;">
                        <div class="col pull-right" style="padding-bottom: 10px;">
                            <button type="submit" class="btn btn-default">Löschen</button>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding:0px;">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        {% for field in fields %}
                                            <th>{{ field }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for object, billings, delivery_notes in object_list_zip %}
                                        <tr>
                                            <td class="col-md-1"><a href="{% url 'mission:detail' pk=object.id %}">Ansicht</a>
                                                <a href="{% url 'mission:update' pk=object.id %}">Bearbeiten</a>
                                                <input type="checkbox" name="item" value="{{object.pk}}">
                                            </td>
                                            <td>{{ object.mission_number }}</td>
                                            <td>{{ object.delivery_date }}</td>
                                            <td>{{ object.status }}</td>
                                            <td>
                                                {% for partial in object.partial_set.all %}
                                                    {% for delivery in partial.delivery_set.all %}
                                                        {{ delivery.delivery_id }}<br/>
                                                    {% endfor %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for billing in billings %}
                                                    {{ billing }}<br/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for delivery_note in delivery_notes %}
                                                    {{ delivery_note }}<br/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% if object.difference_delivery_date_today > 0 %}
                                                     <span class="label label-danger">
                                                         {{ object.difference_delivery_date_today }} Tage
                                                     </span>
                                                {% elif object.difference_delivery_date_today <= 0 %}
                                                     <span class="label label-success">
                                                         {{ object.difference_delivery_date_today|cut:"-"  }} Tage
                                                     </span>
                                                {% endif %}
                                            </td>
                                            <td> {{object.customer|default:""}} </td>
                                            <td> {{object.customer_order_number|default:""}} </td>

                                            <td>
                                                {{ object.productmission_set.all|get_total_price_order_or_mission|format_number_thousand_decimal_points }}
                                            </td>
                                            <td>
                                                {{ object.productmission_set.all|get_total_price_order_or_mission|netto_to_brutto|format_number_thousand_decimal_points }}
                                            </td>
                                            <td>{{ object.channel|default:"" }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}