{% extends 'base.html' %}
{% load static %}
{% load utils %}

{% block content %}
    {% if messages %}
        <div class="col-md-12" style="padding:0 15px 15px 15px;">
            {% for msg in messages %}
                <div class="alert alert-{{ msg.tags }}">
                   <p>{{ msg }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form id="filter_form" action="." class="">
        <div class="col-md-12" style="padding-bottom: 25px;">
            <div class="input-group">

                <input class="form-control" placeholder="Suche ..." name="q" value="{{ q }}" style="position:static;"/>

                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-12" style="padding-bottom: 15px;">
            <buttton class="btn btn-default show_hide_filter_btn">Filter einblenden</buttton>
        </div>

        <div class="display_filter" style="display:none;">
            <div class="col-md-12" style="padding:0px;">
                <div class="col-md-12" >
                    <div class="checkbox">
                        {% for option in option_fields %}
                            <label class="radio-inline"><input type="checkbox" name="status" value="{{ option }}"
                            class="fire_submit" {% if option in status %}checked{% endif %}>{{ option }}</label>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                        <input placeholder="Auftragsnummer" name="mission_number" value="{{ mission_number }}" class="form-control" type="text">
                    </div>

                    <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                        <input placeholder="Fremd ID" value="{{ channel_order_id }}" name="channel_order_id" class="form-control" type="text">
                    </div>

                    <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                        <input placeholder="Lieferdatum von" value="{{ delivery_date_from }}" name="delivery_date_from" class="form-control datepicker" type="text">
                    </div>

                    <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                        <input placeholder="Lieferdatum bis" value="{{ delivery_date_to }}" name="delivery_date_to" class="form-control datepicker" type="text">
                    </div>

                    <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                        <input placeholder="Verkaufskanal" value="{{ channel }}" name="channel" class="form-control" type="text">
                    </div>

                    <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                        <input placeholder="Lieferscheinnummer" value="{{ delivery_note_number }}" name="delivery_note_number" class="form-control" type="text">
                    </div>


                    <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                        <input placeholder="Rechnungsnummer" value="{{ billing_number }}" name="billing_number" class="form-control" type="text">
                    </div>

                    <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                        <input placeholder="Kaufdatum" value="{{ purchased_date }}" name="purchased_date" class="form-control datepicker" type="text">
                    </div>

                    <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                        <input placeholder="Bezahlungsdatum" value="{{ payment_date }}" name="payment_date" class="form-control datepicker" type="text">
                    </div>

                    <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                        <input placeholder="Kunde" value="{{ customer }}" name="customer" class="form-control" type="text">
                    </div>

                    <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                        <input placeholder="Tracking ID" value="{{ tracking_number }}" name="tracking_number" class="form-control" type="text">
                    </div>
                </div>

                <div class="col-md-12" style="padding-top:15px;">
                    <div class="text-right">
                        <a style="color:red;padding:15px 5px 0px 0px;" href="{% url 'online:list' %}?clear_filter=1">
                            <span class="glyphicon glyphicon-remove"></span>&nbsp;Filter zurücksetzen
                        </a>
                    </div>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-info" style="">Filter</button>
                </div>
            </div>
        </div>
    </form>


    <div class="col-md-12">
            {% include 'snippets/paginate_by.html' %}
    </div>

    <div class="col-md-12" style="padding:0 15px 15px 15px;">
        <div class="text-right">
            <a class="btn btn-warning" href="{% url 'online:import_amazon_mission' %}">Amazon Bestellbericht importieren</a>
            <a class="btn btn-success" href="{% url 'online:import_ebay_mission' %}">Ebay Bestellbericht importieren</a>
        </div>
    </div>

    <div class="col-md-12" style="padding:0 15px 15px 15px;">
        <button class="btn btn-default" id="flip_all_btn">Datensätze Auf-/Zuklappen</button>
    </div>

    <form method="GET" action="{% url 'online:ignore_pickorder' %}">

        <div class="col-md-12 text-right" style="padding:0 15px 15px 15px;">
            <button class="btn btn-default">Von Pickauftrag Ablösen</button>
        </div>

        <div class="col-md-12" style="padding:0 15px 15px 15px;">
            <table class="table table-condensed table-bordered" style="background: white;">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Channel</th>
                        <th>Auftragsnummer</th>
                        <th>Fremd ID</th>
                        <th>Status</th>
                        <th>Tracking ID</th>
                    </tr>
                </thead>
                <tbody>
                        {% for object, payment_totals, mission_products, need_refill, label_link in object_list %}
                            <tr>
                                <td>
                                    <p>
                                        <a href="{% url 'online:detail' pk=object.pk %}">Ansicht</a>
                                        <br/>
                                        <input type="checkbox" name="item" value="{{object.pk}}">
                                    </p>
                                </td>
                                <td class="show_hide" style="cursor:pointer;">
                                    <p>
                                        <a collapseid="collapse_{{ forloop.counter }}">
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {% if object.is_amazon is True %}
                                            <img src="{% static "amazonlogo.png" %}" class="img-repsonsive" style="max-height:15px;"/>
                                        {% endif %}

                                        {% if object.is_ebay is True %}
                                            <img src="{% static "ebaylogo.png" %}" class="img-repsonsive" style="max-height:15px;"/>
                                        {% endif %}
                                    </p>
                                    <p>{{ object.channel.name|default:"" }}</p>
                                </td>
                                <td>
                                    <p>{{ object.mission_number }}</p>
                                </td>
                                <td>
                                    <p><b></b>{{ object.channel_order_id|default:""}}</p>
                                </td>
                                <td>
                                    <p>
                                        {% if object.status == "Verpackt" %}
                                            <h4>
                                                 <span class="label label-success">{{ object.status }}</span>
                                            </h4>
                                        {% elif object.not_matchable is True or object.ignore_pickorder is True %}
                                            <h4>
                                                 <span class="label label-danger">{{ object.status|default:"Fehlerhaft"}}</span>
                                            </h4>
                                        {% else %}
                                            <h4>
                                                 <span class="label label-warning">{{ object.status|default:"Offen"}}</span>
                                            </h4>
                                        {% endif %}
                                        {% if need_refill is True and object.online_picklist is None %}
                                            <h4>
                                                 <span class="label label-danger">Onlinebestand nachfüllen</span>
                                            </h4>
                                        {% endif %}
                                    </p>
                                </td>
                                <td>
                                    {% if object.status.lower == "verpackt" and object.online_picklist.completed == True or object.delivery_note and object.status == "Von Pickauftrag abgelöst" %}
                                        <p>{{ object.tracking_number|default:"N/A" }}</p>
                                    {% else %}
                                        <p>N/A</p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr id="collapse_{{ forloop.counter }}" class="collapse">
                                <td colspan="12">
                                    <div class="col-md-4" style="padding:0;">
                                        <p>
                                            {% if object.is_amazon_fba == True %}
                                                <br/>
                                                 <span class="label label-default">FBA</span>
                                            {% endif %}
                                        </p>

                                        <p><b>Kunde: </b>{{object.customer|default:"N/A"}}</p>
                                        <p>
                                            <b>Lieferdatum von: </b>{{ object.delivery_date_from|default:"N/A"}}
                                        </p>
                                        <p>
                                            <b>Lieferdatum bis: </b>{{ object.delivery_date_to|default:"N/A"}}
                                        </p>
                                        <p>
                                            <b>Kaufdatum: </b>{{ object.purchased_date|default:"N/A"}}
                                        </p>
                                        <p>
                                            <b>Bezahlungsdatum: </b>{{ object.payment_date|default:"N/A"}}
                                        </p>

                                        {% if object.delivery_note %}
                                            <a class="btn btn-info"
                                                href="{% url 'online:delivery_note' pk=object.pk delivery_note_pk=object.delivery_note.pk %}">
                                                Lieferschein
                                            </a>
                                        {% endif %}

                                        {% if object.delivery_note or object.online_picklist.online_delivery_note %}
                                            <a class="btn btn-info"
                                                href="{% url 'online:dpd_get_label' pk=object.pk %}">
                                                Paketlabel
                                            </a>
                                        {% endif %}




                                        {% if object.online_picklist.online_delivery_note and object.online_picklist.completed == True %}
                                            {% if object.status.lower == "verpackt" %}
                                                <a class="btn btn-info"
                                                    href="{% url 'online:delivery_note' pk=object.pk delivery_note_pk=object.online_picklist.online_delivery_note.pk %}">
                                                    Lieferschein
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <p class="help-block">Für den Auftrag ist noch kein Lieferschein vorhanden</p>
                                        {% endif %}


                                        {% if object.online_picklist.online_billing %}
        {#                                    <a class="btn btn-info"#}
        {#                                        href="{% url 'online:billing' pk=object.pk billing_pk=object.online_picklist.online_billing.pk %}">#}
        {#                                        Rechnung#}
        {#                                    </a>#}
                                        {% else %}
                                                <p class="help-block">Für den Auftrag ist noch keine Rechnung vorhanden</p>
                                        {% endif %}
                                        <br/>
                                        <p>
                                            {% if object.online_business_account and object.online_picklist is None %}
                                                <a href="{{ label_link }}?not_packing=1" >Label manuell erzeugen</a>
                                            {% endif %}
                                        </p>
                                    </div>
                                    {% if object.none_sku_products_amount %}
                                        <div class="col-md-8" style="padding:0;">
                                            <h3>Für diesen Auftrag gibt es <span style="color:red;">{{ object.none_sku_products_amount }}</span> Artikel ohne SKU</h3>
                                        </div>
                                    {% endif %}

                                    {% if mission_products.count == 0 and not object.none_sku_products_amount %}
                                        <div class="col-md-8" style="padding:0;">
                                            <h3>Für diesen Auftrag existiert kein Artikel</h3>
                                        </div>
                                    {% endif %}
                                    {% if mission_products %}
                                        <div class="col-md-8" style="padding:0;">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <th></th>
                                                        <th>Artikel</th>
                                                        <th>Menge</th>
                                                        <th>Einzelpreis</th>
                                                        <th>Gesambeträge</th>
                                                    </thead>
                                                    <tbody>
                                                        {% for mission_product in mission_products %}
                                                            <tr>
                                                                <td>
                                                                    {% if mission_product.sku.product.main_image %}
                                                                        <img src="{{ mission_product.sku.product.main_image.url }}" class="img-responsive" style="max-height: 90px;"/>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if mission_product.ean %}
                                                                        <p><b>EAN: </b>{{ mission_product.ean|default:"" }}</p>
                                                                    {% endif %}
                                                                    {% if mission_product.online_sku_number %}
                                                                        <p><b>Online SKU: </b>{{ mission_product.online_sku_number|default:"" }}</p>
                                                                    {% endif %}
                                                                    {% if mission_product.internal_sku_number %}
                                                                        <p><b>Interne SKU: </b>{{ mission_product.internal_sku_number|default:"" }}</p>
                                                                    {% endif %}
                                                                    {% if mission_product.state %}
                                                                        <p><b>Zustand: </b>{{ mission_product.state|default:"" }}</p>
                                                                    {% endif %}
                                                                    {% if mission_product.sku %}

                                                                    {% else %}
                                                                        {% if mission_product.internal_sku_number %}
                                                                            <p><b>Letzte SKU: </b>{{ mission_product.internal_sku_number }}</p>
                                                                        {% endif %}
                                                                        {% if mission_product.no_match_sku and object.online_picklist is None %}
                                                                            <p style="color:red;"><b>Nicht matchbare SKU: </b>{{ mission_product.no_match_sku|default:"" }}</p>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                    {% if mission_product.online_description %}
                                                                    <p><b>Onlinebeschreibung: </b> {{ mission_product.online_description }}</p>
                                                                    {% endif %}
                                                                    {% if mission_product.packing_unit %}
                                                                        <p><b>Verpackungseinheit: </b>{{ mission_product.packing_unit }}</p>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <p>{{ mission_product.amount }}</p>
                                                                    <hr/>
                                                                    <p><b>Onlinebestand:</b> {{ mission_product.online_total|default:"0" }}</p>
                                                                    <p><b>Lagerbestand:</b> {{ mission_product.total|default:"0" }}/{{ mission_product.total|default:"0" }}</p>

                                                                    {% if mission_product.packing_unit_amount > mission_product.online_total and object.online_picklist is None %}
                                                                        <hr/>
                                                                        <p style="color:red;"><b>Minusbestand: </b>{{  mission_product.packing_unit_amount_minus_online_total }}</p>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if mission_product.brutto_price is None %}
                                                                        N/A
                                                                    {% else %}
                                                                        <p>{{ mission_product.brutto_price|default:0.00 }}</p>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if mission_product.brutto_price %}
                                                                        <table class="table table-borderless" style="padding:0px;margin:0px;">
                                                                            <tr>
                                                                                <td style="padding-top:0;padding-bottom:0;">Betrag</td>
                                                                                <td style="padding-top:0;padding-bottom:0;" align="right">
                                                                                    <p>{{ mission_product.brutto_price|multiply:mission_product.amount|format_number_thousand_decimal_points }}</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding-top:0;padding-bottom:0;">Versand</td>
                                                                                <td style="padding-top:0;padding-bottom:0;" align="right">
                                                                                    <p>{{ mission_product.shipping_price|format_number_thousand_decimal_points|default:"0,00" }}</p>
                                                                                </td>
                                                                            </tr>
                                                                            {% if mission_product.discount %}
                                                                                <tr>
                                                                                    <td style="padding-top:0;padding-bottom:0;">Rabatt</td>
                                                                                    <td style="padding-top:0;padding-bottom:0;" align="right">
                                                                                        <p style="color:red;">{{ mission_product.discount|format_number_thousand_decimal_points|default:"0,00" }}</p>
                                                                                    </td>
                                                                                </tr>
                                                                            {% endif %}
                                                                            {% if mission_product.shipping_discount %}
                                                                                <tr>
                                                                                    <td style="padding-top:0;padding-bottom:0;">Versandrabatt</td>
                                                                                    <td style="padding-top:0;padding-bottom:0;" align="right">
                                                                                        <p style="color:red;">{{ mission_product.shipping_discount|format_number_thousand_decimal_points|default:"0,00" }}</p>
                                                                                    </td>
                                                                                </tr>
                                                                            {% endif %}
                                                                            <tr>
                                                                                <td colspan="2" style="padding-top:0;padding-bottom:0;"><hr style="margin:0px;"/></td></tr>
                                                                            <tr>
                                                                                <td  style="padding-top:0;padding-bottom:0;"><b>Gesamt</b></td>
                                                                                <td align="right" style="padding-top:0;padding-bottom:0;">
                                                                                    <b>{{ mission_product.brutto_price|multiply:mission_product.amount|custom_add:mission_product.shipping_price|custom_add:mission_product.discount|custom_add:mission_product.shipping_discount|format_number_thousand_decimal_points }}</b>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    {% else %}
                                                                        N/A
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            {% if mission_product.brutto_price %}
                                                <div class="table-responsive">
                                                    <table class="table table-borderless">
                                                        <tr>
                                                            <td class="col-md-9"></td>
                                                            <td class="col-md-3" style="padding:0;">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-body" style="padding:2px;">
                                                                        <table class="table table-borderless">
                                                                            <tr>
                                                                                <td style="padding-top:0;padding-bottom: 0;">Gesamtbetrag Artikel</td>
                                                                                <td align="right" style="padding-top:0;padding-bottom:0;">
                                                                                    <p>{{ payment_totals.payment_total|format_number_thousand_decimal_points }}</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding-top:0;padding-bottom:0;">Versandkosten</td>
                                                                                <td style="padding-top:0;padding-bottom:0;" align="right">
                                                                                    <p>{{ payment_totals.shipping_price|format_number_thousand_decimal_points }}</p>
                                                                                </td>
                                                                            </tr>
                                                                            {% if payment_totals.total_discount %}
                                                                                <tr>
                                                                                    <td style="padding-top:0;padding-bottom:0;">Rabatt</td>
                                                                                    <td align="right" style="padding-top:0;padding-bottom:0;"><p style="color:red;">{{ payment_totals.total_discount|format_number_thousand_decimal_points }}</p></td>
                                                                                </tr>
                                                                            {% endif %}
                                                                            {% if shipping_discount %}
                                                                                <tr>
                                                                                    <td style="padding-top:0;padding-bottom:0;">Versandrabatt</td>
                                                                                    <td align="right" style="padding-top:0;padding-bottom:0;"><p style="color:red;">{{ payment_totals.shipping_discount|format_number_thousand_decimal_points }}</p></td>
                                                                                </tr>
                                                                            {% endif %}

                                                                            <tr>
                                                                                <td colspan="2" style="padding-top:0;padding-bottom:0;"><hr style="margin:0px;"/></td></tr>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding-top:0;padding-bottom: 0;"><b>Gesamt</b></td>
                                                                                <td align="right" style="padding-top:0;padding-bottom: 0;"><p>
                                                                                    <b>{{ payment_totals.payment_total|custom_add:payment_totals.shipping_price|custom_add:payment_totals.total_discount|custom_add:payment_totals.shipping_discount|format_number_thousand_decimal_points }}</b>
                                                                                </p></td>
                                                                            </tr>


                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% if not object_list %}
                            <tr>
                                <td colspan="12">
                                    <div class="text-center"><h1>Kein Ergebniss</h1></div>
                                    <br/>
                                </td>
                            </tr>
                        {% endif %}
                    </form>
                </tbody>
            </table>

            <div class="col-md-12" style="padding:0;">
                {% include 'snippets/paginate_by.html' %}
            </div>
        </div>
    </form>

    <script>
        var elements = document.getElementsByClassName("fire_submit");
        var calendars = document.getElementsByClassName("datepicker");
        var filter_btn = document.getElementById("filter_form");

        for (var i = 0; i < elements.length; i++) {
            elements[i].onclick = function () {
                filter_btn.submit();
            }
        }

        for (var i = 0; i < calendars.length; i++) {
            var calendar = calendars[i];
            calendar.onchange = function () {
                filter_btn.submit();
            }
        }



        // elements[i].innerHTML = $( ".trim" ).html( $.trim(elements[i].innerHTML));
        // alert(elements[i].innerHTML );

        // DISPLAY FILTER PART

        var show_hide_filter_btn = document.getElementsByClassName("show_hide_filter_btn")[0];
        var display_filter = document.getElementsByClassName("display_filter")[0];
        show_hide_filter_btn.onclick = function(){
            if(display_filter.style.display == "none"){
                display_filter.style.display = "";
                this.innerHTML = "Filter ausblenden"
            }else{
                display_filter.style.display = "none";
                this.innerHTML = "Filter einblenden"
            }
        };

        var inputs = document.getElementsByTagName("input");


        for(i=0; i<inputs.length; i++){
            var input = inputs[i];
            if(input.value != null){
                if(input.className == "fire_submit"){
                    if(input.value && input.checked){
                        display_filter.style.display = "";
                        show_hide_filter_btn.innerHTML = "Filter ausblenden"
                    }
                }

                if(input.className.includes("form-control") && input.value && input.name != "q" ){
                    display_filter.style.display = "";
                    show_hide_filter_btn.innerHTML = "Filter ausblenden"
                }
            }

        }

        // flip down up detail of table row

        var show_hide_elements = document.getElementsByClassName("show_hide");

        for(var i = 0; i<show_hide_elements.length; i++){
            var show_hide_element = show_hide_elements[i];


            show_hide_element.onclick = function(e){
               var a_element = this.getElementsByTagName("a")[0];

               var show_or_hide_element = this.getElementsByTagName("span")[0];

               flip_down_up(show_or_hide_element);

               $(document.getElementById(a_element.getAttribute("collapseid"))).collapse("toggle")

            }
        }

        var flip_down_up = function(el){
               if(el.className.includes("chevron-down")){
                   el.className = el.className.replace("chevron-down", "chevron-up");
               }else{
                  el.className = el.className.replace("chevron-up", "chevron-down");
               }
        };


        var flip_all_btn = document.getElementById("flip_all_btn");
        flip_all_btn.onclick = function(e){
            for(var i = 0; i<show_hide_elements.length; i++){
                var show_hide_element = show_hide_elements[i];


               var a_element = show_hide_element.getElementsByTagName("a")[0];

               var show_or_hide_element = show_hide_element.getElementsByTagName("span")[0];

               flip_down_up(show_or_hide_element);

               $(document.getElementById(a_element.getAttribute("collapseid"))).collapse("toggle")

            }
        }


    </script>

    <style>
        .table-borderless > tbody > tr > td,
        .table-borderless > tbody > tr > th,
        .table-borderless > tfoot > tr > td,
        .table-borderless > tfoot > tr > th,
        .table-borderless > thead > tr > td,
        .table-borderless > thead > tr > th {
            border: none;
        }
    </style>

{% endblock %}