{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <p{% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-body">
            <form method="POST">{% csrf_token %}
                <div class="col-md-3"></div>
                <div class="col-md-6">
                        {% for mission, pick_rows in picklist_data.items %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <b>Auftragsnummer: </b> {{ mission.mission_number }}
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Bild</th>
                                                <th>Artikel</th>
                                                <th>Menge</th>
                                                <th>Lagerposition</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for pick_row in pick_rows %}
                                                <tr>
                                                    <td>
                                                        {% if  pick_row.mission_product.product.main_image %}
                                                            <img class="img-responsive" style="max-height:80px;"
                                                                 src="{{ pick_row.mission_product.product.main_image.url }}"/>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ pick_row.mission_product.product }}</td>
                                                    <td>{{ pick_row.amount }}</td>
                                                    <td>{{ pick_row.position }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-12">
                    <div class="text-center">
                        {% if picklist_data %}
                            <input type="Submit" class="btn btn-primary btn-lg" value="Pickauftrag annehmen"/>
                        {% else %}
                            <h3>Es können zurzeit keine Pickaufträge angenommen werden.</h3>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}



