{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <p{% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-body">
            <form method="POST">{% csrf_token %}
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    {% for product_state_sku, pick_rows in picklist_data.items %}
                        <table class="table table-hover table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="col-md-2">
                                            {% if  product_state_sku.0.main_image %}
                                                <img class="img-responsive" style="max-height:80px;"
                                                     src="{{ product_state_sku.0.main_image.url }}"/>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-10">
                                            <p><b>EAN: </b>{{ product_state_sku.0.ean }}</p>
                                            <p><b>SKU: </b>{{ product_state_sku.2 }}</p>
                                            <p><b>Zustand: </b>{{ product_state_sku.1 }}</p>
                                        </div>
                                        <div class="col-md-12">
                                    <hr/>
                                    {% for pick_row in pick_rows %}
                                            <p><b>Lagerplatz: </b>{{ pick_row.position }}</p>
                                            <p><b>Menge: </b>{{ pick_row.amount }}</p>
                                            <p><b>Auftrag: </b>{{ pick_row.mission_product.mission }}</p>
                                            <hr/>
                                    {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-12">
                    <div class="text-center">
                        {% if picklist_data %}
                            <input type="Submit" class="btn btn-primary btn-lg" value="Pickauftrag annehmen"/>
                        {% else %}
                            {% if packing_stations %}
                                <h3>Es können zurzeit keine Pickaufträge angenommen werden.</h3>
                            {% else %}
                                <h3>Es können zurzeit keine Pickaufträge angenommen werden, da alle Packstationen belegt sind.</h3>
                            {% endif %}
                            <br/>
                            <p><a href="{% url 'online:accept_refill' %}">Fehlende Bestände nachfüllen</a></p>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
