{% load utils %}
<form method="GET" action="{% url 'mission:delete' %}">
    <div class="col pull-right" style="padding-bottom: 10px;">
        <button type="submit" class="btn btn-default">Löschen</button>
    </div>
    {% for object, billing_list, delivery_note_list in object_list_zip %}
        <tr>
            <td class="col-md-1"><a href="{{ object.id }}">Ansicht</a>
                <a href="{{ object.id }}/edit">Bearbeiten</a>
                <input type="checkbox" name="item" value="{{object.pk}}">
            </td>

                <td> {{ object.mission_number}} </td>
                <td> {{ object.delivery_date|date:"d.m.Y"}} </td>
                <td> {{ object.status}} </td>
                <td>
                    {% for billing in billing_list %}
                        {{ billing }}
                    {% endfor %}
                </td>
                <td>
                    {% for delivery_note in delivery_note_list %}
                        {{ delivery_note }}
                    {% endfor %}
                </td>
                <td> {{object.customer|default:""}} </td>
                <td> {{object.customer_order_number|default:""}} </td>
                <td> {{object.delivery_address|default:""}} </td>
                <td> {{object.shipping|default:''}} </td>
                <td> {{object.shipping_number_of_pieces|default:''}} </td>
                <td> {{object.shipping_costs|format_number_thousand_decimal_points|default:''}} </td>
                <td>
                    {% if object.difference_delivery_date_today > 0 %}
                     <span class="label label-danger">
                         {{ object.difference_delivery_date_today }} Tage
                     </span>

                    {% elif object.difference_delivery_date_today <= 0 %}
                         <span class="label label-success">
                             {{ object.difference_delivery_date_today|cut:"-"  }} Tage
                         </span>
                    {% endif %}
                </td>
                <td>
                    {{ object.productmission_set.all|get_total_price_order_or_mission|format_number_thousand_decimal_points }}
                </td>
                <td>
                    {{ object.productmission_set.all|get_total_price_order_or_mission|netto_to_brutto|format_number_thousand_decimal_points }}
                </td>
                <td>
                    {% if object.confirmed == True %}
                        <span class="glyphicon glyphicon-ok " style="color:green;"></span>
                    {% elif object.confirmed == False %}
                        <span class="glyphicon glyphicon-remove " style="color:red;"></span>
                    {%  endif %}
                </td>
        </tr>
    {% endfor %}
</form>