{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if instance and position %}
                {% if instance.sku_instance.product.single_product != True %}
                    <a href="{% url 'stock:position_book' pk=position.id %}" class="btn btn-info pull-right">
                        Neuen Artikel zu Position buchen
                    </a>
                {% else %}
                    <a href="{% url 'stock:single_position_book' pk=position.id %}" class="btn btn-info pull-right">
                        Neuen Artikel zu Position buchen
                    </a>
                {% endif %}
            {% endif %}
            <br/><br/><br/>
        </div>
        <div class="col-md-12">
    <style>
        .is-table-row {
            display: table;
        }
        .is-table-row [class*="col-"] {
            float: none;
            display: table-cell;
            vertical-align: top;
        }
    </style>


    <div class="is-table-row" style="padding-bottom: 20px;width:100%">
        {% if instance.id %}
            <div class="col-md-4 table-bordered" style="background-color:white;padding:25px;text-align: center;">
                    <b>Position: </b> <span> {{ instance.lagerplatz }} </span></br>
            </div>

            <div class="col-md-4 table-bordered" style="background-color:white;padding:25px;text-align: center;">
                    {% if instance.ean_vollstaendig %}
                         <b>EAN: </b> <span> {{ instance.ean_vollstaendig }} </span>
                         {% if instance.sku_instance.sku %}
                             - <b>SKU: </b> <span> {{ instance.sku_instance.sku }} </span>
                         {% endif %}
                    {% elif instance.sku %}
                         <b>SKU: </b> <span> {{ instance.sku }} </span>
                        {% if instance.sku_instance.product.ean %}
                           - <b>EAN: </b> <span> {{ instance.sku_instance.product.ean }} </span>
                        {% endif %}
                    {% elif instance.title %}
                         <b>keine EAN oder SKU vorhanden</b>
                    {% else %}
                        <b>Kein Artikel gebucht</b>
                    {% endif %}
                    {% if instance.zustand %}
                         <p><b>Zustand: </b>{{ instance.zustand }}</p>
                    {% elif instance.sku_instance %}
                         <p><b>Zustand: </b>{{ instance.sku_instance.state }}</p>
                    {% endif %}
            </div>
            <div class="col-md-4 table-bordered" style="background-color:white;padding:25px;text-align: center;">
                    <b>Aktuelle Menge: </b> <span> {{ instance.bestand }} </span></br>
            </div>
        {% else %}
            <div class="col-md-12 table-bordered" style="background-color:white;padding:25px;text-align: center;font-size:25px;">
                <b>Position: </b> <span> {{ object.lagerplatz }} </span></br>
            </div>
        {% endif %}
    </div>
        </div>
    </div>
    </br>
    <div class="panel panel-default">
        <div class="panel-body">
            {% if instance.pk %}
            <div class="pull-right">
                <p><a href="{% url 'stock:detail' pk=instance.id %}">Zur Ansicht</a></p>
            </div>
            {% endif %}
                <form method="POST">{% csrf_token %}
                    <div class="col-md-12">
                        {% if form.non_field_errors %}
                                {% for  error in form.non_field_errors %}
                                    {{ error | safe }}
                                {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {% if field.errors %}
                                    <div style="color:red;padding-bottom:15px;">
                                        {% for field_error in field.errors %}
                                            {{ field_error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% for field in form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        <br/>
                        <input type="submit" class="btn btn-primary btn-lg" value="Speichern">
                    </div>
                </form>
        </div>
    </div>
{% endblock %}