{% extends 'base.html' %}


{% block content %}
    <div class="row">
         {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for  error in form.non_field_errors %}
                    {{ error | safe }}
                {% endfor %}
            </div>
         {% endif %}

        <div class="col-md-12">
            <div class="col-md-4 table-bordered" style="background-color:white;padding:25px;text-align: center;">
                <b>Position: </b> <span> {{ object.lagerplatz }} </span></br>
            </div>
            <div class="col-md-4 table-bordered" style="background-color:white;padding:25px;text-align: center;">
                <b>Ean: </b>{{ object.ean_vollstaendig }}
            </div>
            <div class="col-md-4 table-bordered" style="background-color:white;padding:25px;text-align: center;">
                <b>Aktuelle Menge: </b>{{ object.bestand }}
            </div>
        </div>
    </div>
    </br>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pull-right">
                <p><a href="{% url 'stock:detail' pk=object.id %}">Zur Ansicht</a></p>
            </div>

            <form method="POST">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Speichern">
            </form>
        </div>
    </div>
{% endblock %}