{% extends 'base.html' %}
{% load utils %}
{% block content %}
    <style>
        .is-table-row {
            display: table;
        }
        .is-table-row [class*="col-"] {
            float: none;
            display: table-cell;
            vertical-align: top;
        }
    </style>

    <div class="col-md-12" style="padding-right: 0px; padding-left: 0px;">
        {% if object.pk %}
            <a href="{% url 'stock:copy' pk=object.id %}" class="btn btn-info pull-right">Neuen Artikel zu Position buchen
        {% endif %}
        </a>
        <br/><br/><br/>
    </div>

    <div class="is-table-row" style="padding-bottom: 20px;width:100%">
        <div class="col-md-4 table-bordered" style="background-color:white;padding:25px;text-align: center;">
                <b>Position: </b> <span> {{ object.lagerplatz }} </span></br>
        </div>

        <div class="col-md-4 table-bordered" style="background-color:white;padding:25px;text-align: center;">
                {% if object.ean_vollstaendig %}
                     <b>EAN: </b> <span> {{ object.ean_vollstaendig }} </span>
                {% elif object.sku %}
                     <b>SKU: </b> <span> {{ object.sku }} </span>
                {% elif object.title %}
                     <b>keine EAN oder SKU vorhanden</b>
                {% elif product.title %}
                     <b>keine EAN oder SKU vorhanden </b>
                {% else %}
                    <b>Kein Artikel gebucht</b>
                {% endif %}
                {% if object.zustand %}
                     - <b>Zustand: </b>{{ object.zustand }}<br/>
                {% endif %}
        </div>
        <div class="col-md-4 table-bordered" style="background-color:white;padding:25px;text-align: center;">
                <b>Aktuelle Menge: </b> <span> {{ object.bestand }} </span></br>
        </div>
    </div>

    <div class="col-md-12 table-bordered" style="background-color:white;padding:25px;">
        <a style="float:right;" href="{% url 'stock:edit' pk=object.id %}">Bearbeiten</a>
        {% if product %}
            {% if product.title %}
                <h4>{{ product.title }}</h4>
            {% elif object.title %}
                <h4>{{ object.title }}</h4>
            {% endif %}
        {% elif object.title %}
                <h4>{{ object.title }}</h4>
        {% endif %}

        {% if product %}
            {% if product.main_image %}
                <div class="col-md-3">
                    <p><image src="{{ product.main_image.url }}" class="img-responsive img-modal"
                              style="cursor:pointer;"></image></p>
                </div>

                <div class="modal fade">
                 <!-- Modal -->
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="{{ product.main_image.url|default:''}}"
                                 class="img-responsive center-block">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if product.short_description %}
            <p><b>Kurzbeschreibung: </b> {{ product.short_description }}</p>
            {% endif %}
        {% endif %}
        {% if object.name %}
            <p><b>Person: </b>{{ object.name }}</p>
        {% endif %}
        {% if object.regal %}
            <p><b>Regal: </b>{{ object.regal }}</p>
        {% endif %}
        {% if object.scanner %}
            <p><b>Scanner: </b>{{ object.scanner }}</p>
        {% endif %}
        {% if object.karton %}
            <p><b>Karton: </b>{{ object.karton }}</p>
        {% endif %}
        {% if object.box %}
            <p><b>Box: </b>{{ object.box }}</p>
        {% endif %}
        {% if object.aufnahme_datum %}
            <p><b>Aufnahme Datum: </b>{{ object.aufnahme_datum }}</p>
        {% endif %}
        <br/>
        <h4><b>Bestand Artikel auf <u>alle</u> Positionen: </b>{{ object.available_total_amount }} / {{ object.total_amount_ean }}</h4>
            <br/>
        {% if stock.total %}
        <div class="col-md-6" style="margin:-15px;">
          <table class="table table-bordered">
            <thead>
                <th>Neu</th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
            </thead>
            <tbody>
                <tr>
                  <td>
                      {{ stock.total_neu|default:''}}
                  </td>
                  <td>
                      {{ stock.total_a|default:''}}
                  </td>
                  <td>
                      {{ stock.total_b|default:''}}
                  </td>
                  <td>
                      {{ stock.total_c|default:''}}
                  </td>
                  <td>
                      {{ stock.total_d|default:''}}
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
        {% endif %}
        </div>
        <div class="col-md-12" style="padding-right: 0px;padding-left: 0px;">
        <br/>
        <a class="btn btn-danger pull-right" href="{% url 'stock:delete' pk=object.id %}">Artikel ausbuchen</a>
    </div>
    </div>



<script>
    var modal_images = document.getElementsByClassName("img-modal");
    for(var i = 0; i<modal_images.length; i++){
        modal_images[i].onclick = function(){
            var modal_div = document.getElementsByClassName("modal")[0];
            $(modal_div).modal();
        };
    }
</script>

{% endblock %}



