{% extends 'base.html' %}

{% block content %}

    <div class="col-md-12">
        {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

    </div>

    <form id="filter_form" action=".">
        <div class="col-md-12" style="padding-bottom: 25px;">
            <div class="input-group">
                <input class="form-control" placeholder="Suche ..." name="q" value="{% block q %}{% endblock %}"/>
                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-12">
                <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                    <input class="form-control" name="ean_vollstaendig" placeholder="EAN"
                           value="{% block ean %}{% endblock %}">
                </div>

                <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                    <input class="form-control" name="sku" placeholder="Sku" value="{% block sku %}{% endblock %}">
                </div>

                <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                    <input class="form-control" name="title" placeholder="Artikelname" value="{% block title %}{% endblock %}">
                </div>

                <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                    <select class="form-control" name="zustand">
                        <option value="" {% block zustand_empty %}{% endblock %}>Zustand auswählen</option>
                        {% for state in states %}
                            <option value="{{ state }}" {% block zustand %}{% endblock %}>{{ state }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                    <input class="form-control" name="lagerplatz" placeholder="Lagerplatz" value="{% block position %}{% endblock %}">
                </div>

                <div class="col-md-2" style="padding:15px 5px 0px 0px;">
                    <input class="form-control" name="name" placeholder="Person"
                           value="{% block person %}{% endblock %}">
                </div>
                <div class="col-md-12" style="padding:15px 5px 0px 0px;">
                    <div class="text-right">
                        {% block clear_filter %}
                        {% endblock %}
                    </div>
                </div>
                <div class="col-md-12" style="padding:15px 5px 0px 0px;">
                    <input class="btn btn-info" value="Filter" type="Submit">
                </div>
        </div>
    </form>

    <div class="col-md-12">
        {% include 'snippets/paginate_by.html' %}

        <div class="table-responsive">
            <table class="table table-bordered" style="background-color:white;">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Bild</th>
                        <th>EAN</th>
                        <th>SKU</th>
                        <th>Artikelname</th>
                        <th>Zustand</th>
                        <th>Lagerplatz</th>
                        <th>Bestand</th>
                        <th>Gesamtbestand</th>
                    </tr>
                </thead>

                <tbody>
                    <div class="text-right" style="padding-bottom:10px;">
                        <form method="GET" action='{% url 'stock:redirect_to_action' %}'>
{#                            <button class="btn btn-default" name="action"#}
{#                            value="rebook" type="Submit">Umbuchen</button>#}

                            <button class="btn btn-danger" name="action"
                                    value="{% block delete_action_value %}{% endblock %}" type="Submit">Ausbuchen</button>

                            {% for object, states_totals, total in stock_list %}
                                <tr>
                                    <td class="col-md-1">
                                        {% block stock_links %}
                                        {% endblock %}
                                    </td>
                                    <td class="show_hide" style="cursor:pointer;">
                                        <a collapseid="collapse_{{ forloop.counter }}">
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                    </td>
                                    <td>
                                        {% if object.sku_instance.product.main_image %}
                                            <div style="max-height: 90px; max-width: 90px;min-height: 50px; min-width:50px;">
                                                <img src="{{ object.sku_instance.product.main_image.url }}"
                                                     class="img-responsive img-modal" style="max-height: 90px;cursor:pointer;">
                                            </div>

                                            <div class="modal fade">
                                             <!-- Modal -->
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <img src="{{ object.sku_instance.product.main_image.url|default:''}}"
                                                             class="img-responsive center-block">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if object.ean_vollstaendig %}
                                            {{ object.ean_vollstaendig|default:""}}
                                        {% else %}
                                            {% if object.sku_instance.product.ean %}
                                                {{ object.sku_instance.product.ean|default:"" }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if object.sku %}
                                            {{object.sku|default:""}}
                                        {% else %}
                                            {% if object.sku_instance %}
                                                {{ object.sku_instance.sku }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if object.title %}
                                            {{object.title|default:""}}
                                        {% else %}
                                            {{ object.sku_instance.product.title|default:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if object.zustand %}
                                            {{object.zustand}}
                                        {% else %}
                                            {{ object.sku_instance.state|default:"" }}
                                        {% endif %}
                                    </td>
                                    <td> {{ object.lagerplatz}} </td>
                                    <td>{{ object.bestand }}</td>
                                    <td>
                                        <p><b>Gesamt:</b> {{ total.available_total }}/{{ total.total }}</p>
                                        <table class="table table-bordered">
                                            <tr>
                                                {% for state, total in states_totals.items %}
                                                    <th>{{ state }}</th>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                               {% for state, total in states_totals.items %}
                                                   <td>
                                                       {{ total.available_total }}/{{ total.total }}
                                                   </td>
                                               {% endfor %}
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr id="collapse_{{ forloop.counter }}" class="collapse">
                                    <td colspan="12">
                                        {% if object.name %}
                                          <p>
                                              <b>Person: </b> {{ object.name }}
                                          </p>
                                        {% endif %}
                                        {% if object.aufnahme_datum %}
                                          <p>
                                              <b>Aufnahme Datum: </b> {{ object.aufnahme_datum }}
                                          </p>
                                        {% endif %}
                                        {% if object.regal %}
                                          <p>
                                              <b>Regal: </b> {{ object.regal }}
                                          </p>
                                        {% endif %}
                                        {% if object.scanner %}
                                          <p>
                                              <b>Scanner: </b> {{ object.scanner }}
                                          </p>
                                        {% endif %}
                                        {% if object.box %}
                                          <p>
                                              <b>Box: </b> {{ object.box }}
                                          </p>
                                        {% endif %}
                                        {% if object.sku_instance.product.title %}
                                          <p><b>Artikelname: </b><br/> {{ object.sku_instance.product.title}}</p>
                                        {% endif %}
                                        {% if object.sku_instance.product.short_description %}
                                          <p><b>Kurzbeschreibung: </b><br/> {{ object.sku_instance.product.short_description}}</p>
                                        {% endif %}
                                        {% if object.sku_instance.product.description %}
                                          <p><b>Beschreibung: </b><br/> {{ object.sku_instance.product.description}}</p>
                                        {% endif %}

                                        {% if object.sku_instance.product %}
                                          <p><a href="{% url "product:detail" pk=object.sku_instance.product.pk %}">Zur Artikelansicht</a></p>
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                        </form>
                    </div>
                    {% if not stock_list %}
                        <tr>
                            <td colspan="12">
                                <div class="text-center"><h1>Kein Ergebnis</h1></div>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>

            </table>
        </div>
    {% include 'snippets/paginate_by.html' %}
    </div>

    <script>
        var show_hide_elements = document.getElementsByClassName("show_hide");

        for(var i = 0; i<show_hide_elements.length; i++){
            var show_hide_element = show_hide_elements[i];


            show_hide_element.onclick = function(e){
               var a_element = this.getElementsByTagName("a")[0];

               var show_or_hide_element = this.getElementsByTagName("span")[0];

               flip_down_up(show_or_hide_element);

               $(document.getElementById(a_element.getAttribute("collapseid"))).collapse("toggle")



            }
        }

        var flip_down_up = function(el){
               if(el.className.includes("chevron-down")){
                   el.className = el.className.replace("chevron-down", "chevron-up");
               }else{
                  el.className = el.className.replace("chevron-up", "chevron-down");
               }
        };

        var modal_images = document.getElementsByClassName("img-modal");
        for(var i = 0; i<modal_images.length; i++){
            modal_images[i].onclick = function(){
                var modal_div = this.parentElement.parentElement.getElementsByClassName("modal")[0];
                $(modal_div).modal();
            };
        }

    </script>

{% endblock %}
