{% extends 'base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-right">
                <a href="{% url 'online:packing_overview' %}" style="padding-right:10px;">Zur Übersicht</a>
                {% if is_all_scanned == True and picklist.completed == True %}
                    <a href="{% url 'online:login_station' %}">Nächster Auftrag</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            {% if is_all_scanned != True %}
                <form method="POST">{% csrf_token %}
                <p>
                    {{ form.non_field_errors }}
                    <label for="{{ form.ean_or_sku.id_for_label }}">{{ form.ean_or_sku.label }}</label>
                    {{ form.ean_or_sku.errors }}
                    {{ form.ean_or_sku }}
                </p>
                </form>
            {% endif  %}

            {% for pick_row, packing_amount, confirmed_packing_amount in pick_rows %}
                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr
                            {% if is_all_scanned == True %}
                                class="success"
                            {% elif confirmed_packing_amount != 0 %}
                                class="warning"
                            {% endif %}
                        >
                            <td>
                                {% if pick_row.product_mission.sku.product.main_image %}
                                    <img class="img-responsive" style="max-height: 80px;"
                                         src="{{ pick_row.product_mission.sku.product.main_image.url }}"/>
                                {% endif %}
                            </td>
                            <td>
                                <p><b>EAN: </b>{{ pick_row.ean }}</p>
                                <p><b>SKU: </b>{{ pick_row.sku_number }}</p>
                                <p><b>Zustand: </b>{{ pick_row.state }}</p>
                                <p><b>Menge: </b>{{ confirmed_packing_amount|default:'0' }}/{{ packing_amount|default:'0' }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
            {% if is_all_scanned == True and picklist.completed == None %}
                {% if picklist.online_delivery_note == None %}
                <div class="text-center">
                    <form method="POST" action="{% url 'online:provide_packing' pk=picklist.pk %}">{% csrf_token %}
                        <input type="Submit" class="btn btn-primary btn-lg" style="white-space:normal;" value="Für Versand bereitstellen"/>
                    </form>
                </div>
                {% endif %}
            {% endif %}
            {% if is_all_scanned == True %}
                <div class="col-md-12" style="padding: 0 0 25px 0;">
                    {% if picklist.online_delivery_note %}
                    <a class="btn btn-info"
                       href="{% url 'online:delivery_note' pk=picklist.mission_set.first.pk delivery_note_pk=picklist.online_delivery_note.pk %}">
                        Lieferschein ansehen
                    </a>
                    {% endif %}
                <br/><br/>
{#                    <a class="btn btn-info"#}
{#                       href="{% url 'online:billing' pk=picklist.mission_set.first.pk billing_pk=picklist.online_billing.pk %}">#}
{#                        Rechnung ansehen#}
{#                    </a>#}
                </div>
                {% if mission.tracking_number %}
                    <div class="col-md-6" style="padding-left: 0px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Paketlabel
                            </div>
                            <div class="panel-body">
                                <p>Transportdienstleister: <b>{{ mission.online_business_account.transport_service.name }}</b></p>

                                <p style="font-size:15px;">Tracking Nummer: <b>{{mission.tracking_number}}</b></p>

                                <div class="text">
                                    <a class="btn btn-info"
                                        href="{{ label_link }}">
                                        Paketlabel ansehen
                                    </a>
                                </div>
                            </div>
                            {% if is_delivery_address_national == False %}
                                <div class="panel-footer">
                                    <div class="text-right">
                                        <a class="btn btn-danger"
                                            href="{% url 'online:dhl_delete_label' pk=mission.pk shipment_number=mission.tracking_number %}">
                                            Label löschen
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if picklist.completed is None %}
                        <div class="col-md-12" style="padding-bottom: 25px;">
                            <div class="text-center">
                                <a class="btn btn-info" href="{% url 'online:finish_packing' pk=picklist.pk %}">Verpacken abschließen</a>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% if picklist.completed is None %}
                    <div class="col-md-12" style="padding:0px;">
                        <div class="text-right">
                            <a href="{{ label_form_link }}">Paketlabel defekt ?</a> &nbsp;|&nbsp;
                            <a href="{% url 'online:confirm_manual' pk=picklist.pk %}">Manuell erstellen</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <style>
        .errorlist {
            color:red;
            padding:0;
            list-style: none;
        }
    </style>
{% endblock %}