{% extends 'base.html' %}

{% block content %}

    {% if messages %}
        <div class="alert alert-info">
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-right">
                {% if can_finish_pickorder is not True %}
                    <a href="{% url 'online:login_station' %}">Nächster Auftrag</a>
                {% else %}
                    <p class="help-block"><b>Kein weiterer Auftrag vorhanden</b></p>
                    <p class="help-block">Sie können den Pickauftrag unten abschließen</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            {% if not picked_picklists %}
                <div class="text-center">
                    <h3>Es wurde noch kein einziger Auftrag verpackt</h3>
                    <a href="{% url 'online:login_station' %}" class="btn btn-info btn-lg">Zum Packauftrag</a>
                </div>
                <br/><br/>
            {% endif %}
            {% if picklists %}
                <table class="table table-hover tabler-striped">
                    {% for picklist, mission in picklists %}
                        <tr {% if picklist.completed is True %}class="success"{% endif %}>
                            <td>
                                <p>
                                    <b>Auftrag: </b>
                                    {{ mission.mission_number|default:"" }}
                                </p>
                                {% if picklist.completed is True %}
                                    <p>
                                        <a href="{% url 'online:packing' pk=picklist.pk %}">Zur Ansicht</a>
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            {% endif %}
        </div>
    </div>
    {% if can_finish_pickorder is True %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <form method="POST" action="?finish=1">{% csrf_token %}
                        <button type="Submit" class="btn btn-primary btn-lg">Pickauftrag abschließen</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}