{% extends 'base.html' %}

{% block content %}

    {% if messages %}
        <div class="alert alert-info">
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-right">
                <a class="" href="{% url 'online:login_station' %}">Zur Station</a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            {% if picked_picklists %}
                <table class="table table-hover tabler-striped">
                    {% for picklist in picked_picklists %}
                        <tr class="success">
                            <td>
                                <p>
                                    <b>Pack ID: </b>
                                    {{ picklist.pick_id }}
                                </p>
                                <p>
                                    <a href="{% url 'online:packing' pk=picklist.pk %}">Zur Ansicht</a>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            {% endif %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-center">
                <form method="POST" action="?finish=1">{% csrf_token %}
                    <button type="Submit" class="btn btn-primary btn-lg">Pickauftrag abschließen</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}