{% extends 'base.html' %}
{% load utils %}

{% block content %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% if object %}
                    <div class="pull-right">
                        <a href="{% url 'product:edit' pk=object.pk %}">Bearbeiten</a>
                    </div>
                {% endif %}
                <div class="col-md-6">
                    <p>
                        <b>EAN: </b> {{ object.ean }}
                    </p>
                    <p>
                        <b>Artikelname: </b> {{ object.title }}
                    </p>
                    <p>
                        <b>Kurzbeschreibung: </b> {{ object.short_description }}
                    </p>
                    {% if object.main_image %}
                        <p>
                             <img class="img-responsive" src="{{ object.main_image.url }}">
                        </p>
                    {% endif %}
                    <p>
                        <b>Beschreibung: </b> {{ object.description }}
                    </p>
                </div>
            </div>
        </div>
{% endblock %}
