{% extends 'base.html' %}
{% load utils %}

{% block content %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% if object %}
                    <div class="pull-right">
                        <a href="{% url 'product:detail' pk=object.pk %}">Zur Ansicht</a>
                    </div>
                {% endif %}
                <div class="col-md-6">
                    {% if icecat %}
                        <h1>{{ icecat }}</h1>
                    {% endif %}
                    <form method="POST" id="main_form" enctype="multipart/form-data"> {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">{% include "snippets/forms/field.html" %}</div>
                    {% endfor %}
                    <input type="submit" value="Speichern" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
{% endblock %}