{% extends 'base.html' %}
{% load static %}
{% load utils %}

{% block content %}
        <script src="{% static 'js/vendor/dymo.js' %}" type="text/javascript" charset="UTF-8"> </script>

        <div class="panel panel-default">
            <div class="panel-body">
                {% if object %}
                    <div class="pull-right">
                    {% if object.single_product != None %}
                        <a href="{% url 'product:edit_single' pk=object.pk %}">Bearbeiten</a>
                    {% else %}
                        <a href="{% url 'product:edit' pk=object.pk %}">Bearbeiten</a>
                    {% endif %}
                    </div>
                {% endif %}
                <div class="col-md-12">
                    <h3>
                        {{ object.title|default:"" }}
                    </h3>
                    <br/>
                </div>
                {% if object.main_image %}
                    <div class="col-md-4">
                            <p>
                                 <img class="img-responsive img-modal" src="{{ object.main_image.url }}"
                                      style="cursor: pointer;">
                            </p>
                            <div class="modal fade">
                                 <!-- Modal -->
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <img src="{{ object.main_image.url|default:''}}"
                                             class="img-responsive center-block">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                {% endif %}

                <div class="col-md-7">
                    {% if object.ean %}
                    <p>
                        <b>EAN: </b> {{ object.ean }}
                    </p>
                    {% endif %}
                    {% if object.short_description %}
                        <p>
                            <b>Kurzbeschreibung: </b> {{ object.short_description }}
                        </p>
                    {% endif %}
                    {% if stock.total %}
                        <br/>
                            <h4><b>Bestand Artikel auf <u>alle</u> Positionen: </b>{{ stock.total }}</h4>
                        <br/>
                    {% endif %}
                    {% if stock.total %}
                        <div>
                          <table class="table table-bordered">
                            <thead>
                                <th>Neu</th>
                                <th>B</th>
                                <th>C</th>
                                <th>D</th>
                                <th>G</th>
                            </thead>
                            <tbody>
                                <tr>
                                  <td>
                                      {{ stock.total_neu|default:''}}
                                  </td>
                                  <td>
                                      {{ stock.total_b|default:''}}
                                  </td>
                                  <td>
                                      {{ stock.total_c|default:''}}
                                  </td>
                                  <td>
                                      {{ stock.total_d|default:''}}
                                  </td>
                                  <td>
                                      {{ stock.total_g|default:''}}
                                  </td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                    {% endif %}
                    {% if object.description %}
                        <p>
                            <b>Beschreibung: </b> {{ object.description }}
                        </p>
                    {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            SKUs
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>SKU</th>
                                            <th>Zustand</th>
                                            <th>Einkaufspreis</th>

                                        </tr>
                                    </thead>
                                    {% for sku in product_skus %}
                                        <tr>
                                            <td>{{ sku.sku }}</td>
                                            <td>{{ sku.state }}</td>
                                            <td>
                                                {% if sku.purchasing_price %}
                                                {{ sku.purchasing_price|default:""|format_number_thousand_decimal_points }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-11">
                    {% if object.productimage_set.all %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Weitere Bilder
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            {% for image in object.productimage_set.all %}
                                                <div class="col-md-2" style="padding-left: 0px;padding-top:25px;">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body img-modal" style="min-height: 150px;cursor:pointer;">
                                                            <img src="{{  image.image.url }}" class="img-responsive center-block" style="max-height: 100px;">
                                                        </div>

                                                    </div>
                                                   <div class="modal fade">
                                                         <!-- Modal -->
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-body">
                                                                    <img src="{{ image.image.url|default:''}}"
                                                                     class="img-responsive center-block">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
<script>
    var modal_images = document.getElementsByClassName("img-modal");
        for(var i = 0; i<modal_images.length; i++){
            var modal_image = modal_images[i];
            modal_image.onclick = function(){
                var modal_div = this.parentElement.parentElement.getElementsByClassName("modal")[0];
                $(modal_div).modal();
            };
        }

</script>
<style>
    .form-inline > * {
       margin:5px 0px;
    }
</style>
{% endblock %}

