{% extends 'base.html' %}

{% block js %}
{% load static %}
<script src="{% static "product/main.js" %}"></script>
{% endblock %}

{% block whereami %}

	<h1>{{title}}</h1>

{% endblock %}

{% block content %}

{% include "snippets/js/ng_listview.html" %}

<div ng-app="ng_listview" ng-init="detail_query={{object_list_as_json.0}}">

	{% include "snippets/navigation.html" %}

	{% include "snippets/filter.html" %}

	{% include "snippets/pagination.html" %}

	{% include "snippets/master_detail.html"  %}

</div>

{% endblock %}
