{% extends 'base.html' %}

{% load utils %}

{% block content %}
        {% if object == None or object.single_product != None %}
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="POST" id="main_form" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="col-md-8">
                            {% for field in form %}
                                {% if field.name == "more_images" %}
                                {% else %}
                                    <div class="form-group">{% include "snippets/forms/field.html" %}</div>
                                {% endif %}
                            {% endfor %}
                            <br/>
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Weitere Bilder
                            </div>
                            <div class="panel-body">
                                <div style="color:red">
                                    {{ form.more_images.errors }}
                                </div>
                                {{ form.more_images }}
                                {% for image in object.productimage_set.all %}
                                    <div class="col-md-4" style="padding-left: 0px;padding-top:25px;">
                                        <div class="panel panel-default">
                                            <div class="panel-body img-modal" style="min-height: 150px;cursor:pointer;">
                                                <img src="{{  image.image.url }}" class="img-responsive center-block" style="max-height: 100px;">
                                            </div>
                                            <div class="panel-footer">
                                                <div class="checkbox">
                                                  <label><input type="checkbox" name="to_delete_more_images" value="{{ image.pk }}">Löschen</label>
                                                </div>
                                            </div>
                                        </div>

                                       <div class="modal fade">
                                             <!-- Modal -->
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <img src="{{ image.image.url|default:''}}"
                                                         class="img-responsive center-block">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary btn-lg" value="Speichern">
                    </div>

                </form>
            </div>
        </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 style="color:red">Dieser Artikel ist kein Einzelartikel</h3>
                        <a href="{% url 'product:edit' pk=object.pk %}">Artikel Bearbeiten</a>
                </div>
            </div>
        {% endif %}

        <script>
            var modal_images = document.getElementsByClassName("img-modal");
                for(var i = 0; i<modal_images.length; i++){
                    var modal_image = modal_images[i];
                    modal_image.onclick = function(){
                        var modal_div = this.parentElement.parentElement.getElementsByClassName("modal")[0];
                        $(modal_div).modal();
                    };
            }
        </script>
{% endblock %}