{% extends 'base.html' %}
{% load utils %}

{% block content %}
        <form method="POST" id="main_form" enctype="multipart/form-data"> {% csrf_token %}
            {% if not icecat_status %}
                <div class="row">
                    <a href="{% url "product:edit_icecat" pk=object.id %}" class="btn btn-info pull-right" id="icecat_btn">ICECAT Import</a>
                    <br/><br/>
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if object %}
                        <div class="pull-right">
                            <a href="{% url 'product:detail' pk=object.pk %}">Zur Ansicht</a>
                        </div>
                    {% endif %}
                    <div class="col-md-6">
                        {% if icecat %}
                            {{ icecat_image_filename }}
                            <div style="max-width:300px; max-height:300px;">
                                <img src="data:;base64,{{ icecat_image_base64 }}" class="img-responsive" style="max-height: 300px;"/>
                            </div>
                        {% endif %}

                        {% if icecat_status == "FAIL" %}
                            <h3 style="color:red;">Artikel auf ICECAT nicht matchbar!</h3>
                            <a href="{% url "product:edit" pk=object.pk %}">Zurück</a>
                        {% else %}
                            {% for field in form %}
                                <div class="form-group">{% include "snippets/forms/field.html" %}</div>
                            {% endfor %}
                            <input type="submit" value="Speichern" id="submit_btn" class="btn btn-primary">
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
{% endblock %}