{% extends 'base.html' %}
{% load static %}
{% load utils %}

{% block content %}
    <script src="{% static 'js/vendor/dymo.js' %}" type="text/javascript" charset="UTF-8"> </script>

    <div class="panel panel-default">
        <div class="panel-body">
            {% if object %}
                <div class="pull-right">
                    <a href="{% url 'product:edit' pk=object.pk %}">Bearbeiten</a>
                </div>
            {% endif %}
            <div class="col-md-12">
                <h3>
                    {{ object.title|default:"" }}
                </h3>
                <br/>
            </div>
            {% if object.main_image %}
                <div class="col-md-4">
                        <p>
                             <img class="img-responsive img-modal" src="{{ object.main_image.url }}"
                                  style="cursor: pointer;">
                        </p>
                        <div class="modal fade">
                             <!-- Modal -->
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="{{ object.main_image.url|default:''}}"
                                         class="img-responsive center-block">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            {% endif %}

            <div class="col-md-7">
                {% if object.ean %}
                <p>
                    <b>EAN: </b> {{ object.ean }}
                </p>
                {% endif %}
                {% if object.short_description %}
                    <p>
                        <b>Kurzbeschreibung: </b> {{ object.short_description }}
                    </p>
                {% endif %}

                <p>Bestand Artikel auf <b><u>alle</u></b> Positionen: {{ total.available_total }}/{{ total.total }}</p>
                <table class="table table-bordered">
                    <tr>
                        {% for state, total in states_totals.items %}
                            <th>{{ state }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for state, total in states_totals.items %}
                           <td>
                               {{ total.available_total }}/{{ total.total }}
                           </td>
                        {% endfor %}
                    </tr>
                </table>

                {% if object.description %}
                    <p>
                        <b>Beschreibung: </b> {{ object.description }}
                    </p>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        SKUs
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>SKU</th>
                                        <th>Zustand</th>
                                        <th>Einkaufspreis</th>

                                    </tr>
                                </thead>
                                {% for sku in skus %}
                                    <tr>
                                        <td>{{ sku.sku }}</td>
                                        <td>{{ sku.state }}</td>
                                        <td>
                                            {% if sku.purchasing_price %}
                                            {{ sku.purchasing_price|default:""|format_number_thousand_decimal_points }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Online SKUs
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>SKU</th>
                                        <th>Zustand</th>
                                        <th>Angebotsmenge</th>
                                        <th>Asin</th>
                                        <th>Verkaufskanal</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                    {% if not online_skus %}
                                        <tr>
                                            <td colspan="6">
                                                <div class="text-center">
                                                    <h1>Keine Online SKU vorhanden</h1>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% for sku, forms in online_skus.items %}
                                        <form method="POST" action="?sku_pk={{ sku.pk }}">{% csrf_token %}
                                            <tr>
                                                <td>
                                                    <div class="edit_tags_{{ forloop.counter }}">{{ sku.sku|default:"" }}</div>
                                                    <div class="edit_form_{{ forloop.counter }}" style="display:none;">
                                                        <div class="errorlist">{{ forms.form.sku.errors }}</div>
                                                        {{ forms.form.sku }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="edit_tags_{{ forloop.counter }}">{{ sku.state|default:"" }}</div>
                                                    <div class="edit_form_{{ forloop.counter }}" style="display:none;">
                                                        <div class="errorlist">{{ forms.form.state.errors }}</div>
                                                        {{ forms.form.state }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="edit_tags_{{ forloop.counter }}">{{ sku.offer.amount|default:"0" }}</div>
                                                    <div class="edit_form_{{ forloop.counter }}" style="display:none;">
                                                        <div class="errorlist">{{ forms.offer_form.amount.errors }}</div>
                                                        {{ forms.offer_form.amount }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="edit_tags_{{ forloop.counter }}">{{ sku.asin|default:"" }}</div>
                                                    <div class="edit_form_{{ forloop.counter }}" style="display:none;">
                                                        <div class="errorlist">{{ forms.form.asin.errors }}</div>
                                                        {{ forms.form.asin }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="edit_tags_{{ forloop.counter }}">{{ sku.channel|default:"" }}</div>
                                                    <div class="edit_form_{{ forloop.counter }}" style="display:none;">
                                                        <div class="errorlist">{{ forms.form.channel.errors }}</div>
                                                        {{ forms.form.channel }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="checkbox" id="edit_checkbox_{{ forloop.counter }}" style="padding:0;margin:0;">
                                                      <label>
                                                          <input type="checkbox" {% if update_form_validation.validation == False or update_offer_form_validation.validation == False and update_form_validation.pk == sku.pk %}checked=""{% endif %}/>
                                                          Bearbeiten
                                                      </label>
                                                    </div>
                                                    <br/>
                                                    <button class="btn btn-primary edit_form_{{ forloop.counter }}" style="display:none;">Speichern</button>
                                                    <div class="text-center">
                                                        <br/>
                                                        <a class="btn btn-danger edit_form_{{ forloop.counter }}" href="{% url 'product:sku_delete' pk=sku.pk %}" style="display:none;">Löschen</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </form>
                                    {% endfor %}

                                {% if create_form_validation is None and create_offer_form_validation is None %}
                                    <tr>
                                        <td colspan="6">
                                            <a style="cursor:pointer;" id="show_new_sku_row">
                                                <span class="glyphicon glyphicon-plus"></span> Neue SKU anlegen
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                                <form method="POST" action="?sku_pk=">{% csrf_token %}
                                    <tr id="new_sku_row" {% if create_form_validation is None and create_offer_form_validation is None %}style="display:none;"{% endif %}>
                                        <td>
                                            <div class="errorlist">{{ form.sku.errors }}</div>
                                            {{ form.sku }}
                                            <p class="help-block">Bei keiner Eingabe wird eine SKU generiert</p>
                                        </td>
                                        <td>
                                            <div class="errorlist">{{ form.state.errors }}</div>
                                            {{ form.state }}
                                        </td>
                                        <td>
                                            <div class="errorlist">{{ offer_form.amount.errors }}</div>
                                            {{ offer_form.amount }}
                                        </td>
                                        <td>
                                            <div class="errorlist">{{ form.asin.errors }}</div>
                                            {{ form.asin }}
                                        </td>
                                        <td>
                                            <div class="errorlist">{{ form.channel.errors }}</div>
                                            {{ form.channel }}
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <p style="color:red;">{{ form.non_field_errors }}</p>
                                                <button class="btn btn-primary">Speichern</button>
                                            </div>
                                        </td>
                                    </tr>
                                </form>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="padding:0px;">
                <div class="col-md-11">
                {% if object.productimage_set.all %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Weitere Bilder
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        {% for image in object.productimage_set.all %}
                                            <div class="col-md-2" style="padding-left: 0px;padding-top:25px;">
                                                <div class="panel panel-default">
                                                    <div class="panel-body img-modal" style="min-height: 150px;cursor:pointer;">
                                                        <img src="{{  image.image.url }}" class="img-responsive center-block" style="max-height: 100px;">
                                                    </div>

                                                </div>
                                               <div class="modal fade">
                                                     <!-- Modal -->
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <img src="{{ image.image.url|default:''}}"
                                                                 class="img-responsive center-block">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        var modal_images = document.getElementsByClassName("img-modal");
            for(var i = 0; i<modal_images.length; i++){
                var modal_image = modal_images[i];
                modal_image.onclick = function(){
                    var modal_div = this.parentElement.parentElement.getElementsByClassName("modal")[0];
                    $(modal_div).modal();
                };
            }

        var show_new_sku_row = document.getElementById("show_new_sku_row");
        var new_sku_row = document.getElementById("new_sku_row");
        var scrolled_to = null;

        if(show_new_sku_row != null){
            show_new_sku_row.onclick = function(e){
              new_sku_row.style = "";
              this.parentElement.style = "display:none";
            };
        }
        if(scrolled_to === null && new_sku_row.style["display"] != "none"){
            new_sku_row.scrollIntoView();
            scrolled_to = true;
        }



        {% for sku, form in online_skus.items %}
            var checkbox_{{ forloop.counter }} = document.getElementById("edit_checkbox_{{ forloop.counter }}");

            var display_row_or_not = function(checkbox, forms, tags){
                var form;

                for(var i = 0; i<forms.length;i++){
                    form = forms[i];
                    if(checkbox.checked) {
                        form.style = "";
                    }else{
                        form.style = "display:none";
                    }
                }

                var tag;

                for(i = 0; i<tags.length;i++){
                    tag = tags[i];
                    if(checkbox.checked) {
                        tag.style = "display:none";
                    }else{
                        tag.style = "";
                    }
                }
            };

            var forms = document.getElementsByClassName("edit_form_{{ forloop.counter }}");
            var tags = document.getElementsByClassName("edit_tags_{{ forloop.counter }}");


            var checkbox_input_onload = checkbox_{{ forloop.counter }}.getElementsByTagName("input")[0];


            if(checkbox_input_onload.checked){
                if(scrolled_to === null){
                    checkbox_input_onload.scrollIntoView();
                    scrolled_to = true;
                }

                display_row_or_not(checkbox_input_onload, forms, tags);
            }

            checkbox_{{ forloop.counter }}.onclick = function(e){
                if(e.target.tagName == "LABEL"){
                    return;
                }
                var forms = document.getElementsByClassName("edit_form_{{ forloop.counter }}");
                var tags = document.getElementsByClassName("edit_tags_{{ forloop.counter }}");
                var checkbox_input = this.getElementsByTagName("input")[0];

                display_row_or_not(checkbox_input, forms, tags)

            };
        {% endfor %}

    </script>
    <style>
        .form-inline > * {
           margin:5px 0px;
        }

        .errorlist ul,.errorlist li{
            list-style:none;
            list-style-type:none;
            color:red;
            padding:0;
        }
    </style>
{% endblock %}

