{% extends 'base.html' %}
{% load static %}

{% block content %}
    <script src="{% static 'js/vendor/dymo2_0_2.js' %}" type="text/javascript" charset="UTF-8"> </script>

    <div>
            <div class="col-md-12">
                <div class="form-inline pull-right" style="padding-right: 0px;">
                    <a href="{% url 'product:create' %}" class="btn btn-info">{{ title }} anlegen</a>
                    <a href="{% url 'product:create_single' %}" class="btn btn-info">Einzelartikel anlegen</a>
                </div>
            </div>
            <br/><br/><br/>
        {% include "snippets/filter.html" %}
        {% include "snippets/pagination.html" %}


        {% include "snippets/table.html"  with app="product" %}


    </div>

{% endblock %}
