{% extends "base.html" %}

{% block content %}
<div class="col-md-12 table-bordered" style="background-color:white;padding:25px;">
    <h4>Achtung! Sie haben vor folgende Artikel zu löschen: </h4>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-1">Bild</th>
                    <th>EAN</th>
                    <th>Titel</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in object %}
                    <tr>
                        <td class="col-md-1">
                            {% if obj.main_image %}
                                <img src="{{ obj.main_image.url }}" class="img-responsive" style="max-height: 80px;">
                            {% endif %}
                        </td>
                        <td>{{ obj.ean |default:''}}</td>
                        <td>{{ obj.title |default:''}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h4>Wollen Sie diesen Vorgang wirklich ausführen?  Diese Aktion kann nicht rückgängig gemacht werden.</h4>

    <form method="POST" action="?{{ request.GET.urlencode }}">{% csrf_token %}
        <input type="SUBMIT" class="btn btn-danger" value="Artikel löschen">
    </form>
</div>
{% endblock %}