{% load utils %}

<div class="col-md-12">
    <form id="filter_form" action="." class="form-inline">
        <div>
            {% for field, verbose_name in filter_fields %}
                {% for option_row in option_fields %}
                    {% if option_row|getattr:field %}
                        {% for option in option_row|getattr:field %}
                            {% include "snippets/filter/checkbox.html" %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if extra_options %}
                {% for field, options  in extra_options %}
                    {% for option in options %}
                            {% include "snippets/filter/checkbox.html" %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
<div class="form-group form-inline">
    {% for field, verbose_name in filter_fields %}
        {% if option_fields %}
            {% for option_row in option_fields %}

                {% if option_row|getattr:field %}

                {% else %}
                    {% include "snippets/filter/input.html" %}

                {% endif %}
            {% endfor %}
        {% else %}
            {% include "snippets/filter/input.html" %}
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-info">Filter</button>
</div>

</form>

</div>

<style>
.form-inline > * {
   margin:5px 0px;
}
</style>

<script>

    var elements = document.getElementsByClassName("fire_submit");
    var calendars = document.getElementsByClassName("datepicker");
    var filter_btn = document.getElementById("filter_form");

    for (var i = 0; i < elements.length; i++) {
        elements[i].onclick = function () {

            filter_btn.submit();
        }
    }

    for (var i = 0; i < calendars.length; i++) {
        var calendar = calendars[i];
        calendar.onchange = function () {
            filter_btn.submit();
        }
    }


    // elements[i].innerHTML = $( ".trim" ).html( $.trim(elements[i].innerHTML));
    // alert(elements[i].innerHTML );

</script>
