{% load utils %}

<div class="col-md-12">
<form id="filter_form" action="." class="form-inline">
<div class"checkbox-inline">
	{% for field in field_names %}
		{% for option_row in option_fields %}
			{% if option_row|getattr:field %}
				{% for option in option_row|getattr:field %}
				<div class="checkbox">
					<label>
						<input type="checkbox"  name="{{field}}" value="{{option}}"
									{% if request.GET|get_from_GET:field  == option%}
										checked
									{% else %}
										{% for list_option in request.GET|get_from_GET:field %}
											{% if list_option == option %}
												checked
											{% endif %}
										{% endfor %}
									{% endif %} class="fire_submit">
						</input>
						<b> {{option}}</b>
					</label>
				</div>
				{% endfor %}
		{% endif %}
	{% endfor %}

	{% endfor %}
</div>
<div class="form-group">
{% for field in field_names %}
	{% if option_fields %}
		{% for option_row in option_fields %}

			{% if option_row|getattr:field %}

			{% else %}
				<input type="text"
				{% if request.GET %}
					value="{{request.GET|get_from_GET:field}}"
				{% endif %} 
				placeholder="{{field}}" name="{{field}}" 
				{% if field_datatypes|getattr:field == "DateField" %}
					class="form-control datepicker" readonly style="background-color:white;"
				{% else %}
					class="form-control" 
				{% endif %}
				>
				</input>
			{% endif %}
		{% endfor %}
	{% else %}
		<input type="text"
				{% if request.GET %}
					value="{{request.GET|get_from_GET:field}}"
				{% endif %} 
				placeholder="{{field}}" name="{{field}}" 
				{% if field_datatypes|getattr:field == "DateField" %}
					class="form-control datepicker" readonly style="background-color:white;"
				{% else %}
					class="form-control" 
				{% endif %}
				>
				</input>
	{% endif %}
{% endfor %}
	<button type="submit" class="btn btn-default">Filter</button>
</div>

</form>

</div>

<script>

var elements = document.getElementsByClassName("fire_submit");
var calendars = document.getElementsByClassName("datepicker");
var filter_btn = document.getElementById("filter_form");
for(var i = 0; i<elements.length; i++){
	elements[i].onclick = function(){
		filter_btn.submit();
	}
}

for(var i = 0; i<calendars.length; i++){
	var calendar = calendars[i];
	calendar.onchange = function(){
		filter_btn.submit(); 
	}
}

</script>
