<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'root' %}">ERPGhost</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'product:list' %}" style="color:black;">Artikel</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:black;">Lager
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'stock:list' %}" style="color:black">Lagerbestand</a></li>
                        <li><a href="{% url 'stock:position_list' %}" style="color:black">Lagerpositionen</a></li>
                        <li><a href="{% url 'stock:minus_list' %}" style="color:black">Minusbestand</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:black;">Großhandel
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <div class="dropdown-header">Warenausgang</div>
                        <li><a href="{% url 'mission:list' %}" style="color:black;">Auftrag</a></li>
                        <li><a href="{% url 'mission:pickorder_list' %}" style="color:black;">Pickauftrag</a></li>
                        <li><a href="{% url 'mission:packingorder_list' %}" style="color:black;">Verpackerauftrag</a></li>
                        <li><a href="{% url 'customer:list' %}" style="color:black;">Kunden</a></li>
                        <li class="divider"></li>
                        <div class="dropdown-header">Wareneingang</div>
                        <li><a href="{% url 'order:list' %}" style="color:black;">Bestellung</a></li>
                        <li><a href="{% url 'order:goods_receipt_list' %}" style="color:black;">Scan</a></li>
                        <li><a href="{% url 'supplier:list' %}" style="color:black;">Lieferanten</a></li>
                        <li class="divider"></li>
                        <div class="dropdown-header">Disposition</div>
                        <li><a href="{% url 'disposition:calendar' %}" style="color:black;">Kalendar</a></li>
                        <li><a href="{% url 'disposition:truck_list' %}" style="color:black;">Verwaltung</a></li>
                        <li><a href="{% url 'disposition:employee_list' %}" style="color:black;">Mitarbeiter</a></li>
                    </ul>
                </li>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:black;">Onlinehandel
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'online:list' %}" style="color:black">Auftrag</a></li>
                        <li class="divider"></li>
                        <div class="dropdown-header">Online</div>
                        <li><a href="{% url 'online:online_redirect' %}" style="color:black">Picken/Verpacken</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:black;">Einstellungen
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'client:list' %}" style="color:black">Mandanten</a></li>
                        <li><a href="{% url 'config:transport_list' %}" style="color:black">Transportdienstleister</a></li>
                        <li class="divider"></li>
                        <div class="dropdown-header">Online</div>
                        <li><a href="{% url 'config:position_prefix_list' %}" style="color:black;">Lagerpositionen</a></li>
                        <li><a href="{% url 'config:packingstation_list' %}" style="color:black;">Packstationen</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a>Herzlich Willkommen, {{ request.user }}</a></li>
                    <li><a href="{% url 'client:select' %}">
                        Mandant: <b style="color:green;">{{ request.session.client_name }}</b></a></li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span></a></li>
                {% else %}
                    <li><a>Bitte loggen Sie sich ein</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
