{% load utils %}
<div class="col-md-12">
	<div>
		<ul class="pagination" style="cursor:pointer;">
				<li>
					<a {% if object_list.has_previous %}

						{% with request.GET|get_q as q %}
							href="?page={{current_page|add:"-1"}}&{{q|remove_param_from_q:"page="}}"
						{% endwith %}

				       {%else%}
			   				style="color:black;"
			    	   {% endif %}>
			   		   Zur&uuml;ck 
					</a>
				</li>
			
				{% for p in pages_range %}
					<li {% if p|slugify == current_page|slugify %}class=active {% endif %}>
						{% with request.GET|get_q as q %}
							<a href="?page={{p}}&{{q|remove_param_from_q:"page="}}">{{p}}</a>
						{% endwith %}
					</li>
				{% endfor %}
				
				<li>
					<a {% if object_list.has_next %}
						{% with request.GET|get_q as q %}
							href="?page={{current_page|add:"1"}}&{{q|remove_param_from_q:"page="}}"
						{% endwith %}							
					   {%else%}
					   		style="color:black;"
					   {% endif %}>
					   	Weiter 
					</a>
				</li>
		</ul>
	</div>
</div>