{% load utils %}

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode|remove_param_from_q:"page="}}">Zurück</a></li>
    {% else %}
      <li class="disabled"><span>Zurück</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if i == paginator.num_pages or  i == 1 or i|add:'3' == page_obj.number or i|add:'-3' == page_obj.number or i|add:'2' == page_obj.number or i|add:'-2' == page_obj.number or i|add:'1' == page_obj.number or i|add:'-1' == page_obj.number or i == page_obj.number %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}&{{ request.GET.urlencode|remove_param_from_q:"page="}}">{{ i }}</a></li>
          {% endif %}
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode|remove_param_from_q:"page="}}">Weiter</a></li>
    {% else %}
      <li class="disabled"><span>Weiter</span></li>
    {% endif %}
  </ul>
{% endif %}