{% load utils %}
{% if object_list %}
<div class="col-md-12">
    <div>
        <ul class="pagination" style="cursor:pointer;">
            <li>
                <a {% if object_list.has_previous %}

                    {% with request.GET|get_q as q %}
                        href="?page={{object_list.previous_page_number}}&{{ q|remove_param_from_q:"page="}}"
                    {% endwith %}

                {% else %}
                        style="color:black;"
                {% endif %}>
                    Zur&uuml;ck
                </a>
            </li>
                {% if object_list.number|slugify != "1" %}
                    {% if object_list.previous_page_number|slugify != "1" %}
                        <li>
                         {% with request.GET|get_q as q %}
                            <a href="?page=1&{{ q|remove_param_from_q:"page="}}">1</a>
                            {% endwith %}
                        </li>
                    {% endif %}
                {% endif %}

                {% if object_list.number|slugify != "1" %}
                    <li>
                        {% with request.GET|get_q as q %}
                            <a href="?page={{ object_list.number|add:-1 }}&{{ q|remove_param_from_q:"page="}}">{{ object_list.number|add:-1 }}</a>
                        {% endwith %}
                    </li>
                {% endif %}


            <li class=active>
                {% with request.GET|get_q as q %}
                    <a href="?page={{ object_list.number }}&{{ q|remove_param_from_q:"page="}}">{{ object_list.number }}</a>
                {% endwith %}
            </li>

                {% if object_list.has_next %}
                    {% if object_list.number|add:1|slugify != object_list.paginator.num_pages|slugify %}
                        <li>
                            {% with request.GET|get_q as q %}
                                <a href="?page={{ object_list.number|add:1 }}&{{ q|remove_param_from_q:"page="}}">{{ object_list.number|add:1 }}</a>
                            {% endwith %}
                        </li>
                    {% endif %}
                {% endif %}

                {% if object_list.paginator.num_pages|slugify !=  object_list.number|slugify %}
                    <li>
                        {% with request.GET|get_q as q %}
                            <a href="?page={{ object_list.paginator.num_pages }}&{{ q|remove_param_from_q:"page="}}">{{object_list.paginator.num_pages}}</a>
                        {% endwith %}
                    </li>
                {% endif %}

            <li>
                <a {% if object_list.has_next %}
                    {% with request.GET|get_q as q %}
                        href="?page={{object_list.next_page_number}}&{{ q|remove_param_from_q:"page="}}"
                    {% endwith %}
                {% else %}
                        style="color:black;"
                {% endif %}>
                    Weiter
                </a>
            </li>
        </ul>
    </div>
</div>
{% endif %}