{% load utils %}
<div class="col-md-12">
<table class="table table-bordered" style="background-color:white;">
	<thead>
		<tr>
			{% for field in field_names %}
				<th>{{field}}</th>
			{% endfor %}
		</tr>
	</thead>

	<tbody>
			{% for object in object_list_as_json %}
				<tr>
					{% for field in field_names%}
					  <td> {{object|getattr:field}} </td>
					{% endfor %}
				</tr>
			{% endfor %}
	</tbody>

</table>

<script>

var app = angular.module("table", []);
app.controller('ctrl', 	function($scope){



});

</script>
</div>