{% load utils %}
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-bordered" style="background-color:white;">
            <thead>
                <tr>
                    <th></th>
                    {% for field in fields %}
                        <th>{{field}}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                    {% if app == "order" %}
                        {% include "order/table/object_list.html" %}
                    {% elif app == "mission" %}
                        {% include "mission/table/object_list.html" %}
                    {% elif app == "stock" %}
                        {% include "stock/table/object_list.html" %}
                    {% elif app == "supplier" %}
                        {% include "supplier/table/object_list.html" %}
                    {% elif app == "customer" %}
                        {% include "customer/table/object_list.html" %}
                    {% elif app == "product" %}
                        {% include "product/table/object_list.html" %}
                    {% elif app == "stock" %}
                        {% include "stock/table/object_list.html" %}
                    {% elif app == "stock_position" %}
                        {% include "stock/position/table/object_list.html" %}
                    {% elif app == "disposition" %}
                        {% include "disposition/table/object_list.html" %}
                    {% elif app == "employee" %}
                        {% include "disposition/employee/object_list.html" %}
                    {% elif app == "pickorder" %}
                        {% include "mission/pickorder_object_list.html" %}
                    {% endif %}
            </tbody>

        </table>

        <script>


        </script>
    </div>
</div>
