<script type="text/javascript">
    var collapse_tds = document.getElementsByClassName("collapse_click");

    for(var i = 0; i<collapse_tds.length; i++){
        var collapse_td = collapse_tds[i];

        collapse_td.onclick = function(){
            var arrow_down = this.getElementsByClassName("glyphicon-chevron-down")[0];
            var arrow_up = this.getElementsByClassName("glyphicon-chevron-up")[0];

            var collapse_row = function(click_element){
                var collapse_row = document.getElementById("collapse_" + click_element.getAttribute("collapse_id"));
                $(collapse_row).collapse("toggle");
            };

            if(arrow_down){
                arrow_down.className = arrow_down.className.replace("down", "up");
                collapse_row(this);

            }
            else if(arrow_up){
                arrow_up.className = arrow_up.className.replace("up", "down");
                collapse_row(this);
            }

        }
    }

    var focus_checkboxes = document.getElementsByClassName("focus");

    var scan_inputs = document.getElementsByClassName("scan_input");

    var matches = {"scan_sku": false, "scan_ean": false};

    var confirm_detail_view = document.getElementById("confirm_detail_view");
    var match_ean_sku = document.getElementById("match_ean_sku");
    var match_amount = document.getElementById("match_amount");
    var match_state = document.getElementById("match_state");
    var match_img = document.getElementById("match_img");
    var match_title = document.getElementById("match_title");


    var hidden_confirmed = document.getElementsByName("confirmed")[0];
    var hidden_product_id = document.getElementsByName("product_id")[0];
    var hidden_missing_amount = document.getElementsByName("missing_amount")[0];

    var match_amount_value = null;

    var focus_inputs_on_checkbox_click = function(){
        for(var i = 0;i<focus_checkboxes.length; i++){
            var focus_checkbox = focus_checkboxes[i];
            focus_checkbox.onclick = function(){
                uncheck_and_unfcous_other_checkboxes_and_inputs(this);
                window.onclick = function(){};
                set_focus_on_input(this);
            };
        }
    };

    var set_focus_on_input = function(clicked_checkbox){
        var input = clicked_checkbox.parentElement.parentElement.getElementsByTagName("input")[0];
        if(clicked_checkbox.checked == true) {
            window.onclick = function(){
                input.focus();
            };
            window.onload = function () {
                input.focus();
            }
        }
    };

    var uncheck_and_unfcous_other_checkboxes_and_inputs = function(clicked_checkbox){
        var clicked_input = clicked_checkbox.parentElement.parentElement.getElementsByTagName("input")[0];
        for(var i = 0; i<focus_checkboxes.length; i++){
            var checkbox = focus_checkboxes[i];
            var input = checkbox.parentElement.parentElement.getElementsByTagName("input")[0];
            if(checkbox != clicked_checkbox && input != clicked_input){
                checkbox.checked = false;
                clicked_input.blur();
            }
        }
    };


    var main = function(){
        for(var i = 0; i<scan_inputs.length; i++){
            var scan_input = scan_inputs[i];
            scan_input.oninput = function(){
                extract_information_from_input_match(this);
            }
        }
    };

    var extract_information_from_input_match = function(input){
        var input_is_sku_or_ean = eval(input.parentElement.getElementsByTagName("select").length > 0);
        var sku_number = null;
        var ean = null;
        var title = "";

        if(input_is_sku_or_ean){
            var select = input.parentElement.getElementsByTagName("select")[0];
            var sku_length = parseInt(select.options[select.selectedIndex].value);

            if(input.value.length == sku_length+1){
                input.value = input.value[input.value.length-1];
            }
        }

        if(input_is_sku_or_ean){
            var ean_json = {};
            var sku_json = {};

            {% for productorder in object.productorder_set.all %}
                    var state = "{{ productorder.state }}";
                    var tmp_ean = "{{ productorder.product.ean }}";
                    var tmp_sku_number = null;

                    if(tmp_ean) {
                        var data = {
                            "title": "{{ productorder.product.title|default:'' }}",
                            "current_state": state,
                            "id": "{{ productorder.id}}",
                            "amount": "{{ productorder.amount }}"
                        };

                        {% if productorder.product.main_image %}
                            data.main_image = "{{ productorder.product.main_image.url }}";
                        {% endif %}

                        if (tmp_ean in ean_json) {

                            ean_json[tmp_ean][state.toLowerCase()] = data;
                            ean_json[tmp_ean].states.push(state);
                        }else{

                            ean_json[tmp_ean] = {};
                            ean_json[tmp_ean][state.toLowerCase()] = data;
                            ean_json[tmp_ean].states = [state];

                        }
                    }

                    {% for sku in productorder.product.sku_set.all %}
                        {% if sku.state == productorder.state %}
                            tmp_sku_number = "{{ sku.sku }}";
                        {% endif %}
                    {% endfor %}

                    if(tmp_sku_number) {

                        if (tmp_sku_number in sku_json) {
                            if("states" in sku_json[tmp_sku_number]){
                                sku_json[tmp_sku_number].states.push(state);
                            }
                            ean_json["amount"] = "{{ productorder.amount }}";
                            ean_json["current_state"] = state;
                        } else {
                            sku_json[tmp_sku_number] = {"states": [state],
                                                        "title": "{{ productorder.product.title|default:'' }}",
                                                        "current_state": state,
                                                        "id": "{{ productorder.id}}",
                                                        "amount": "{{ productorder.amount }}"};
                           {% if productorder.product.main_image %}
                                        sku_json[tmp_sku_number].main_image = "{{ productorder.product.main_image.url }}";
                            {% endif %}
                        }
                    }
            {% endfor %}

            if(input.value in ean_json){
                ean = input.value;
            }

            if(input.value in sku_json){
                sku_number = input.value;
            }

            var confirm_state = null;

            if(ean_json[input.value] && ean_json[input.value].states.length > 1){
                confirm_state = prompt("Welche EAN meinen Sie ? Tragen Sie einen Zustand ein.")
            }else if(ean_json[input.value] && ean_json[input.value].states.length <= 1){
                confirm_state = ean_json[input.value].states[0];
            }

            if(input.value == ean || input.value == sku_number){

                    matches[input.id] = true;

                    if(ean){
                        if(confirm_state != null && confirm_state.toLowerCase() in ean_json[ean] == false){

                        }else{

                            if(ean_json[ean][confirm_state.toLowerCase()].current_state){
                                match_state.parentElement.style = "";
                            }

                            match_ean_sku.innerHTML = ean;

                            match_amount.innerHTML = ean_json[ean][confirm_state.toLowerCase()].amount;
                            match_amount_value = ean_json[ean][confirm_state.toLowerCase()].amount;

                            if(ean_json[ean][confirm_state.toLowerCase()].main_image){
                                match_img.src = ean_json[ean][confirm_state.toLowerCase()].main_image;
                            }

                            confirm_detail_view.style.display = "";

                            match_title.innerHTML = "<b>" + ean_json[ean][confirm_state.toLowerCase()].title +"</b>";
                            match_state.innerHTML = ean_json[ean][confirm_state.toLowerCase()].current_state;

                            hidden_product_id.value = ean_json[ean][confirm_state.toLowerCase()].id;
                        }
                    }else if(sku_number){

                        if(sku_json[sku_number].current_state){
                            match_state.parentElement.style = "";
                        }

                        match_ean_sku.innerHTML = sku_number;

                        match_amount.innerHTML = sku_json[sku_number].amount;

                        if(sku_json[sku_number].main_image){
                            match_img.src = sku_json[sku_number].main_image;
                        }

                        confirm_detail_view.style.display = "";

                        match_title.innerHTML = "<b>" + sku_json[sku_number].title +"</b>";
                        match_state.innerHTML = sku_json[sku_number].current_state;
                        hidden_product_id.value = sku_json[sku_number].id;

                    }

                }

        }


        if(input_is_sku_or_ean && input.value.length != sku_length){
            matches[input.id] = false;
            var has_match = false;

            for(var k in matches){
                if(matches[k] == true){
                    has_match = true;
                }
            }

            if(has_match == false){
                confirm_detail_view.style.display = "none";
                match_ean_sku.innerHTML = "";
                match_amount.innerHTML = "";
                match_img.src = "";
                match_title.innerHTML = "";
            }
        }

    };

    var focus_checked_input = function(){
      for(var i = 0; i<focus_checkboxes.length; i++){
          var focus_checkbox = focus_checkboxes[i];
          if(focus_checkbox.checked == true){
            set_focus_on_input(focus_checkbox);
          }
      }
    };


    var set_hidden_input_values_on_confirmation = function(){
        var confirm_btn = document.getElementById("confirm_btn");
        var reject_btn = document.getElementById("reject_btn");
        var confirm_form = document.getElementById("confirm_form");

        confirm_btn.onclick = function(e){
            e.preventDefault();
            window.onclick = function(){};
            hidden_confirmed.value = "1";
            set_last_checked_checkbox_in_hidden_input();
            confirm_form.submit();
        };

        reject_btn.onclick = function(e){
            e.preventDefault();
            hidden_confirmed.value = "0";

            var missing_amount = prompt("Bitte trage die fehlende Menge ein");

            if(!missing_amount){
                return;
            }

            missing_amount = parseInt(missing_amount);
            match_amount_value = parseInt(match_amount_value);

            while(missing_amount >match_amount_value || missing_amount <= 0 || isNaN(missing_amount)){
                missing_amount = prompt("Sie können nur ein Zahl von 1 bis " + match_amount_value + " eingeben");
                if(!missing_amount){
                    return;
                }

            }

            hidden_missing_amount.value = missing_amount;

            set_last_checked_checkbox_in_hidden_input();

            confirm_form.submit();
        };
    };

    var extract_information_from_input_onload = function(){
        for(var i = 0; i<scan_inputs.length; i++){
            extract_information_from_input_match(scan_inputs[i]);
        }


    };


    var set_last_checked_checkbox_in_hidden_input = function(){
        var hidden_last_checked_input = document.getElementsByName("last_checked")[0];

        for(var i = 0; i<focus_checkboxes.length; i++){
            var checkbox = focus_checkboxes[i];
            if(checkbox.checked == true){
                hidden_last_checked_input.value = checkbox.id;
            }
        }

        var hidden_sku_length = document.getElementsByName("sku_length")[0];
        var sku_length_select = document.getElementById("sku_length")[0];
        var select_value = sku_length_select.parentElement.options[sku_length_select.parentElement.selectedIndex].value;
        hidden_sku_length.value = select_value;
    };

    focus_checked_input();
    extract_information_from_input_onload();
    focus_inputs_on_checkbox_click();
    main();
    set_hidden_input_values_on_confirmation();



</script>