{% load utils %}

<div class="table-responsive col-md-12">
    <table class="table table-bordered table-condensed">
        <thead>
            <th></th>
            <th>Bild</th>
            <th>EAN / SKU</th>
            <th>Zustand</th>
            <th>Menge</th>
            <th>Fehlende Menge</th>
            <th>Reale Menge</th>
            <th>Einzelpreis (Netto)</th>
        </thead>
        <tbody>
            {% for product_order in object.productorder_set.all %}
                <tr
                    {% if product_order.confirmed == True %}
                        class="success"
                    {% elif product_order.confirmed == False %}
                        class="danger"
                    {% endif %}
                >
                    <td  style="cursor: pointer;" class="collapse_click"
                         collapse_id="{{ forloop.counter }}">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </td>
                    <td>
                        {% if product_order.product.main_image %}
                            <div style="max-height: 80px;max-width:80px;">
                                <img src="{{ product_order.product.main_image.url }}"
                                                style="max-height:80px;" class="img-responsive">
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ product_order.get_ean_or_sku }}</td>
                    <td>{{ product_order.state }}</td>
                    <td>{{ product_order.amount }}</td>
                    <td>{{ product_order.missing_amount|default:"" }}</td>
                    <td>{{ product_order.real_amount }}</td>
                    <td>{{ product_order.netto_price|format_number_thousand_decimal_points }}</td>
                </tr>
                <tr id="collapse_{{ forloop.counter }}"
                    {% if product_order.confirmed == True %}
                        class="collapse success"
                    {% elif product_order.confirmed == False %}
                        class="collapse danger"
                    {% else %}
                        class="collapse"
                    {% endif %}
                >
                    <td colspan="8">
                        <p><b>Artikelname: </b>{{ product_order.product.title|default:"" }}</p>
                        <p><b>Kurzbeschreibung: </b>{{ product_order.product.short_description|default:"" }}</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>