{% extends 'base.html' %}
{% load utils %}
{% block content %}

    <div class="col-md-12 table-bordered" style="background-color:white;padding:25px;">

        <a style="float:right;" href="{% url 'order:update' pk=object.id %}">Bearbeiten</a>
        <p><b>Bestellnummer: </b> {{object.ordernumber}}</p>
        <p><b>Lieferant: </b> {{object.supplier.name|default:"/"}}</p>
        <p><b>Lieferdatum: </b> {{object.delivery_date|date:"d.m.Y"}}</p>
        <p><b>Status: </b> {{object.status}}</p>
        <p><b>Akzeptiert: </b>
            {% if object.verified == True %}
                <span class="glyphicon glyphicon-ok " style="color:green;"></span>
            {% elif object.verified == False %}
                <span class="glyphicon glyphicon-remove" style="color:red;"></span>
            {% else %}
                ---
            {% endif %}
        </p>

        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for field in fields %}
                        <th>{{field}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for product in object.products.all %}
                    {% for productorder in product.productorder_set.all %}
                    {% if object.id == productorder.order.id %}
                    <tr>
                        <td>{{productorder.product}}</td>
                        <td>{{productorder.amount}}</td>
                        <td style="color:red;">
                            {% if productorder.missing_amount %}
                                {{productorder.missing_amount}}
                            {% endif %}
                        </td>
                        <td>{{productorder.netto_price|default:""}}</td>
                        <td>
                            {% if productorder.netto_price %}
                            {{ productorder.netto_price|multiply:productorder.amount }}
                            {% else %}
                            {% endif %}
                        </td>
                        <td>
                            {% if productorder.confirmed == True %}
                                <span class="glyphicon glyphicon-ok " style="color:green;"></span>
                            {% elif productorder.confirmed == False %}
                                <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                            {% endif %}                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {% if object.status != "OFFEN" %}
            <a href="{% url 'order:scan' pk=object.id %}" class="btn btn-success" id="scan_btn">SCAN<a>
        {% endif %}
    </div>




{% endblock %}



