{% extends 'base.html' %}
{% load utils %}
{% block content %}

    <div class="col-md-12 table-bordered" style="background-color:white;padding:25px;">

        <a style="float:right;" href="{% url 'order:update' pk=object.id %}">Bearbeiten</a>
        <p><b>Bestellnummer: </b> {{object.ordernumber}}</p>
        <p><b>Lieferant: </b> {{object.supplier.contact.billing_address.firma|default:"/"}}</p>
        <p><b>Lieferdatum: </b> {{object.delivery_date|date:"d.m.Y"}}</p>
        <p><b>Status: </b> {{object.status}}</p>
        <p><b>Akzeptiert: </b>
            {% if object.verified == True %}
                <span class="glyphicon glyphicon-ok " style="color:green;"></span>
            {% elif object.verified == False %}
                <span class="glyphicon glyphicon-remove" style="color:red;"></span>
            {% else %}
                ---
            {% endif %}
        </p>
        {% if object.productorder_set.all %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for field in fields %}
                            <th>{{field}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                        {% for productorder in object.productorder_set.all %}
                        {% if object.id == productorder.order.id %}
                        <tr
                            {% if productorder.confirmed == True %}
                                class="success"
                            {% elif productorder.confirmed == False %}
                                class="danger"
                            {% endif %}
                        >
                            <td>{{productorder.get_ean_or_sku|default:""}}</td>
                            <td>{{productorder.product.title|default:""}}</td>
                            <td>{{productorder.state|default:""}}</td>
                            <td>{{productorder.amount}}</td>
                            <td style="color:red;">
                                {% if productorder.missing_amount %}
                                    {{productorder.missing_amount}}
                                {% endif %}
                            </td>
                            <td>{{productorder.netto_price|format_number_thousand_decimal_points|default:"0"}}</td>
                            <td>
                                {% if productorder.netto_price %}
                                {{ productorder.netto_price|multiply:productorder.amount|format_number_thousand_decimal_points }}
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if object.status != "OFFEN" and object.status != "ABGELEHNT" %}
            <a href="{% url 'order:scan' pk=object.id %}" class="btn btn-success" id="scan_btn">SCAN<a>
            <a href="{% url 'order:order_pdf' pk=object.id %}" class="btn btn-info pull-right" id="scan_btn">Bestellung PDF<a>

        {% endif %}


    </div>




{% endblock %}



