{% extends 'base.html' %}

{% block js %}

{% load static %}
<script>

// var field_names = parse_json("{{field_names | safe}}");
// var queryset = parse_json("{{rows | safe}}");

</script>
<script src="{% static "order/main.js" %}"></script>

{% endblock %}

{% block navigation %}

<h1>{{title}}</h1>

{% endblock %}


{% block content %}

<!-- {% include "snippets/master_detail.html" with object_list=object_list field_names=field_names rows_as_json=rows %} -->

{% include "snippets/table.html" with field_names=field_names rows_as_json=rows %}
{% endblock %}