{% extends 'base.html' %}
{% load utils %}

{% block content %}
{% if product_orders %}

{% include "snippets/js/ng_scanorder.html" %}


<div ng-app="ng_scanorder" ng-controller="main_ctrl">


<div ng-init="init_function(
	{% verbatim%} [ {% endverbatim %}
	
	{% for product_order in product_orders|to_json %}
		
		{% verbatim%} { {% endverbatim %}

		{% for k, v in product_order.items %}
			{{k}}: 
			{% if v == None %}
				null
			{% else %}
				{% if k == 'product' %}
					{% verbatim %} { {% endverbatim %}
						ean: {{v.ean}}
					{% verbatim %} } {% endverbatim %}
				{% elif k == 'order' %}
				{% verbatim %} { {% endverbatim %}
					ordernumber: {{v.ordernumber}}
				{% verbatim %} } {% endverbatim %}
				{% else%}
					{{v}}
				{% endif %},
			{% endif %}
		{% endfor %}

		{% verbatim%} }, {% endverbatim %}
	
	{% endfor %}
	
	{% verbatim%} ] {% endverbatim %}
)"></div>

	<div class="row" style="background-color:white;padding:25px;"> 
	<div class="row">
		<div class="col-md-6">
			{% for field in field_names %}
		 		<p><b>{{field}}: </b>{{object|get_from_model:field}}</p>
		 	{% endfor %}
		</div>

		<div class="col-md-6">
			<div class="row">
				<div class="form-inline">
					<div class="col-md-10 input-group">
		                <input ng-model="product_match.input" placeholder="EAN/SKU" id="product_match" class="form-control"
		                ng-change="checkProduct()" style="background-color:#FFF !important;">
	                </div>
	                <div class="col-md-1 input-group">
		                <button class="form-control" id="clearMatchField">Clear</button>
	                </div> 
                </div>
			</div>

		</div>

	</div>

	<div class="row">

		<div class = "col-md-6">

			<table class="table table-responsive table-bordered">
				<thead>
					<tr>
					{% for field in product_order_field_names %}
						<th>{{field}}</th>
					{% endfor %}
					</tr>

				</thead>

				<tbody>
					{% for product_order in product_orders %}
					<tr>
						{% for field in product_order_field_names %}
						<td>
							{% if field == "confirmed" %}
								{% if product_order|get_from_model:field == None %}
								 	{{product_order|get_from_model:field}}
								
								{% elif product_order|get_from_model:field == True %}
									<span class="glyphicon glyphicon-ok" style="color:green"></span>
							 	{% elif product_order|get_from_model:field == False %}
									<span class="glyphicon glyphicon-remove" style="color:red"></span>
								{% endif %}
 							{% else %}
								 {{product_order|get_from_model:field}}
							{% endif %}


						</td>
						{% endfor %}

					</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>

		<div class="col-md-6">
			<div ng-if="product_match.match == false && product_match.input != ''">
				<h1>Produkt {% verbatim %}{{product_match.input}}{% endverbatim %} nicht in Bestellung vorhanden</h1>
			</div>

			<div ng-if="product_match.match == null && product_match.input != ''">
				<h1 class="text-danger">Eine EAN ist 13-Stellig</h1>
			</div>
			<div ng-hide="product_match.match == null || product_match.match == false || product_match.input == ''">
			<form action="." method="POST" id="main_form"> {% csrf_token %}
				<table class="table table-responsive table-bordered">
					<thead>

					</thead>
					<tbody>

							<tr ng-repeat="(key, val) in confirm_product" ng-if="key!='id'">
									<td><b ng-bind="key"></b>: <span ng-bind="val"></span></td>
							</tr>
							<tr>
								<td>
									<div class="row">
										<div class="col-md-6">
											<button class="btn btn-lg btn-success"
											 style="width:100%;" id="is_true_btn" type="button">Ja</button>
										</div>

										<div class="col-md-6">
											<button class="btn btn-lg btn-danger"
											 style="width:100%;" id="is_false_btn" type="button">Nein</button>
										</div>
									</div>
								</td>
							</tr>


					</tbody>
				</table>
				<input type="hidden" name="product_id" value="{% verbatim %}{{confirm_product.id}}{% endverbatim %}">
				<input type="hidden" name="confirmed" id="confirm_value">
			</form>
			</div>

		</div>
	</div>
	</div>
</div>
{% else%}

<div style="background-color:white;">
	<h1>Sie haben noch keine Artikel zur Bestellung erstellt</h1>
</div>

{% endif %}

<script>
var product_match_input = document.getElementById("product_match");
var tmp = "";


product_match_input.focus();
window.onclick = function(e){
		product_match_input.focus();
}

var clear_btn = document.getElementById("clearMatchField");

clear_btn.onclick = function(){
	product_match_input.value = "";

};

var is_true_btn = document.getElementById("is_true_btn");
var is_false_btn = document.getElementById("is_false_btn");

var confirm_value_input = document.getElementById("confirm_value");

var form = document.getElementById("main_form");

is_true_btn.onclick = function(){
	confirm_value_input.value = 1;
	form.submit();
}

is_false_btn.onclick = function(){

	confirm_value_input.value = 0;
	form.submit();

}



</script>

{% endblock %}