<style>
    .address p {
        margin: 0;
    }

    body {
        padding-left: 40px;
        padding-right: 40px;

    }

    .date p {
        margin: 0;
    }

    .date {
        float: left;
    }

</style>
<body>
    <div>
        <p>Baschar Trading Center GmbH - Orber Straße 16 -69386 Frankfurt am Main</p>
        <div class="address">
            <p><b>Impex Service GmbH</b></p>
            <p><b>Kopernikusstr. 17</b></p>
            <p><b>50126 Bergheim</b></p>
        </div>
    </div>
    <div class="date" align="RIGHT">
            <p>Datum: <b>06.03.2018</b></p>
            <p>Kunde: <b>14469</b></p>
            <p>Lieferschein: <b>12352</b></p>
    </div>
</body>