{% extends 'base.html' %}
{% load utils %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
        <div class="col-md-12">
            <a class="pull-right" style="padding-left:30px;" href="{% url 'mission:update' pk=object.id %}">Bearbeiten</a>
            <a class="pull-right" style="padding-left:30px;" href="{% url 'mission:stock_check_form' pk=object.id %}">Lieferung erstellen</a>
        </div>

        <p style="font-size:15px;"><b>Auftragsnummer: </b>{{ object.mission_number }}</p>
        <p style="font-size:15px;"><b>Lieferdatum: </b>{{ object.delivery_date }}</p>
        <p style="font-size:15px;"><b>Status: </b> {{object.status}}</p>

            <div class="col-md-6" style="padding:0;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Rechnungsadresse
                    </div>
                    <div class="panel-body">
                        <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Firma: </b>
                            {{ object.customer.contact.billing_address.firma }}</p>
                        <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Adresse: </b>
                            {{ object.customer.contact.billing_address.strasse }}</p>
                        <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Ort: </b>
                            {{ object.customer.contact.billing_address.place }}</p>
                        <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Plz: </b>
                            {{ object.customer.contact.billing_address.zip }}</p>
                        {% if object.customer.contact.billing_address.adresszusatz %}
                            <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Adresszusatz: </b>
                            {{ object.customer.contact.billing_address.adresszusatz }}</p>
                        {% endif %}
                        {% if object.customer.contact.billing_address.adresszusatz2 %}
                            <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Adresszusatz 2: </b>
                            {{ object.customer.contact.billing_address.adresszusatz2 }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="pading:0">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Lieferadresse
                    </div>
                    <div class="panel-body">
                        <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Firma: </b>
                            {{ object.customer.contact.delivery_address.firma }}</p>
                        <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Adresse: </b>
                            {{ object.customer.contact.delivery_address.strasse }}</p>
                        <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Ort: </b>
                            {{ object.customer.contact.delivery_address.place }}</p>
                        <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Plz: </b>
                            {{ object.customer.contact.delivery_address.zip }}</p>
                        {% if object.customer.contact.delivery_address.adresszusatz %}
                            <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Adresszusatz: </b>
                            {{ object.customer.contact.delivery_address.adresszusatz }}</p>
                        {% endif %}
                        {% if object.customer.contact.delivery_address.adresszusatz2 %}
                            <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Adresszusatz 2: </b>
                            {{ object.customer.contact.delivery_address.adresszusatz2 }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        <br/>

        <div class="col-md-12" style="padding-left:0;">
            {% if object.productmission_set.all %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>EAN / SKU</th>
                                <th>Zustand</th>
                                <th>Titel</th>
                                <th>Auftragsmenge</th>
                                <th>Fehlende Menge</th>
                                <th>Reale Menge</th>
                                <th>Lagerbestand</th>
                                <th>Einzelpreis (Netto)</th>
                                <th>Gesamtpreis (Netto)</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for productmission, missing_amount, stock, real_amount in products_from_stock %}
                                    {% if object.id == productmission.mission.id %}
                                    <tr>
                                        <td>
                                            {{productmission.get_ean_or_sku}}
                                        </td>
                                        <td>{{productmission.state}}</td>
                                        <td>{{productmission.product.title|default:""}}</td>
                                        <td>{{productmission.amount}}</td>
                                        <td style="color:red;">
                                            {{ missing_amount }}
                                        </td>
                                        <td style="color:green;">
                                            {{ real_amount|default:'0' }}
                                        </td>
                                        <td>
                                            {{ stock|default:'0' }}
                                        </td>
                                        <td>{{productmission.netto_price|format_number_thousand_decimal_points|default:"0"}}</td>
                                        <td>
                                            {% if productmission.netto_price %}
                                                {{ productmission.netto_price|multiply:productmission.amount|format_number_thousand_decimal_points }}
                                            {% else %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
            <div class="col-md-12" style="padding-right: 0">
                <a href="{% url 'mission:mission_confirmation_pdf' pk=object.id %}" class="btn btn-info pull-right" style="margin-right:15px;">
                Auftragsbestätigung</a>
            <br/><br/><br/>
            </div>

            <div class="col-md-12" style="padding-left:0;">
                {% for delivery in object.delivery_set.all %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Lieferung {{ forloop.counter }}
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Rechnung</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="{% url 'mission:partial_billing_pdf' pk=object.pk billing_number=delivery.billing.billing_number %}"
                                                       class="btn btn-info">{{ delivery.billing.billing_number }}</a>
                                                </td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Lieferscheine</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for delivery_note in delivery.goodsissue_set.first.deliverynote_set.all %}
                                            <tr>
                                                <td>
                                                    <a class="btn btn-info" href="{% url 'mission:partial_delivery_note' pk=object.pk delivery_note_pk=delivery_note.pk %}">
                                                        {{ delivery_note.delivery_note_number }}
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>EAN / SKU</th>
                                            <th>Zustand</th>
                                            <th>Artikelname</th>
                                            <th>Liefermenge</th>
                                            <th>Einzelpreis (Netto)</th>
                                            <th>Gesamt (Netto)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for real_amount_row in delivery.deliverymissionproduct_set.all %}
                                            <tr>
                                                <td>{{ real_amount_row.product_mission.get_ean_or_sku }}</td>
                                                <td>{{ real_amount_row.product_mission.state|default:"" }}</td>
                                                <td>{{ real_amount_row.product_mission.product.title|default:"" }}</td>
                                                <td>{{ real_amount_row.amount }}</td>
                                                <td>{{real_amount_row.product_mission.netto_price|format_number_thousand_decimal_points|default:"0"}}</td>
                                                <td>
                                                    {% if real_amount_row.product_mission.netto_price %}
                                                    {{ real_amount_row.product_mission.netto_price|multiply:real_amount_row.amount|format_number_thousand_decimal_points }}
                                                    {% else %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <a class="btn btn-success" href="{% url 'mission:scan' pk=object.pk delivery_pk=delivery.pk %}">Zum Warenausgang</a>
                            <a class="btn btn-info pull-right" href="{% url 'mission:partial_delivery_note_form' pk=object.pk goods_issue_pk=delivery.goodsissue_set.first.pk %}">Lieferschein erstellen</a>

                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
{% endblock %}



