{% extends 'base.html' %}
{% load utils %}
{% block content %}

    <div class="col-md-12 table-bordered" style="background-color:white;padding:25px;">

        <a style="float:right;" href="{% url 'mission:update' pk=object.id %}">Bearbeiten</a>

        <p><b>Auftragsnummer: </b> {{object.mission_number}}</p>
        <p><b>Kunde: </b> {{object.customer.name|default:"/"}}</p>
        <p><b>Lieferdatum: </b> {{object.delivery_date|date:"d.m.Y"}}</p>
        <p><b>Status: </b> {{object.status}}</p>
        <p>
            <b>Pickbereit: </b>
            {% if object.pickable == True %}
                <span class="glyphicon glyphicon-ok " style="color:green;"></span>
            {% elif object.pickable == False %}
                <span class="glyphicon glyphicon-remove" style="color:red;"></span>
            {% else %}
                ---
            {% endif %}
        </p>


        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for field in fields %}
                        <th>{{field}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                    {% for productmission in object.productmission_set.all %}
                        {% if object.id == productmission.mission.id %}
                        <tr>
                            <td>{{productmission.product.ean}}</td>
                            <td>{{productmission.amount}}</td>
                            <td style="color:red;">
                                {% if productmission.missing_amount %}
                                    {{productmission.missing_amount}}
                                {% endif %}
                            </td>
                            <td>{{productmission.netto_price|default:""}}</td>
                            <td>
                                {% if productmission.netto_price %}
                                {{ productmission.netto_price|multiply:productmission.amount }}
                                {% else %}
                                {% endif %}
                            </td>
                            <td>
                                {% if productmission.confirmed == True %}
                                    <span class="glyphicon glyphicon-ok " style="color:green;"></span>
                                {% elif productmission.confirmed == False %}
                                    <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
            </tbody>
        </table>
        {% if object.pickable == True %}
            <a href="{% url 'mission:scan' pk=object.id %}" class="btn btn-success" id="scan_btn">SCAN<a>
            <a href="{% url 'mission:delivery_note' pk=object.id %}" class="btn btn-danger">Lieferschein<a>

        {% endif %}
    </div>
{% endblock %}



