{% extends 'base.html' %}


{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if goods_issue_products %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Bild</th>
                                <th>EAN / SKU</th>
                                <th>Zustand</th>
                                <th>Artikelname</th>
                                <th>Menge</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for goods_issue_product in goods_issue_products %}
                            <tr>
                                <td>
                                    {% if goods_issue_product.delivery_mission_product.product_mission.product.main_image %}
                                        <img src="{{ goods_issue_product.delivery_mission_product.product_mission.product.main_image.url }}"
                                             class="img-responsive" style="max-height: 70px;"/>
                                    {% endif %}
                                </td>
                                <td>
                                  {{ goods_issue_product.delivery_mission_product.product_mission.get_ean_or_sku }}
                                </td>
                                <td>
                                  {{ goods_issue_product.delivery_mission_product.product_mission.state }}
                                </td>
                                <td>
                                  {{ goods_issue_product.delivery_mission_product.product_mission.product.title|default:"" }}
                                </td>
                                <td>
                                  {{ goods_issue_product.amount_minus_missing_amount|default:"0" }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                {% if goods_issue_products %}
                    <form method="POST">{% csrf_token %}
                        <div class="text-center">
                            <input type="Submit" class="btn btn-primary btn-lg" value="Lieferschein erstellen">
                        </div>
                    </form>
                {% else %}
                    <h3>Um einen Lieferschein erstellen zu können, müssen erst alle Artikel am Warenausgang bestätigt werden.</h3>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}