{% extends 'base.html' %}


{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if error %}
                <h3 style="color:red;">{{ error }}</h3>
            {% endif %}
            {% if goods_issue_products %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Bild</th>
                                <th>EAN / SKU</th>
                                <th>Zustand</th>
                                <th>Artikelname</th>
                                <th>Liefermenge</th>
                                <th>Lagerbestand</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for goods_issue_product, stock in goods_issue_products %}
                            <tr>
                                <td>
                                    {% if goods_issue_product.delivery_mission_product.product_mission.product.main_image %}
                                        <img src="{{ goods_issue_product.delivery_mission_product.product_mission.product.main_image.url }}"
                                             class="img-responsive" style="max-height: 70px;"/>
                                    {% endif %}
                                </td>
                                <td>
                                  {{ goods_issue_product.delivery_mission_product.product_mission.get_ean_or_sku }}
                                </td>
                                <td>
                                  {{ goods_issue_product.delivery_mission_product.product_mission.state }}
                                </td>
                                <td>
                                  {{ goods_issue_product.delivery_mission_product.product_mission.product.title|default:"" }}
                                </td>
                                <td>
                                  {{ goods_issue_product.amount_minus_missing_amount|default:"0" }}
                                </td>
                                <td>
                                    {{ stock }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                {% if goods_issue_products %}
                    <form method="POST">{% csrf_token %}
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center">
                            {{ form.as_p }}
                        </div>
                        <div class="col-md-3"></div>

                        <div class="col-md-12" style="padding-top:30px;">
                            <div class="text-center">
                                <input type="Submit" class="btn btn-primary btn-lg" value="Lieferschein und Rechnung erstellen">
                            </div>
                        </div>
                    </form>
                {% else %}
                    {% if picklist_all_picked == False %}
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <h3>Sie müssen erst den Pickauftrag beenden um einen Lieferschein und eine Rechnung zu erstellen. </h3>
                        </div>
                    {% endif %}

                    {% if picklist_with_pick_rows_exist == False %}
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <h3>Um einen Lieferschein erstellen zu können, muss ein Pickschein erstellt werden
                                und die Ware gepickt werden</h3>
                        </div>
                    {% endif %}

                    {% if picklist_with_pick_rows_exist == True and picklist_all_picked == True %}
                        {% if goods_issue_has_unscanned_products == True %}
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <h3>Sie müssen erst die Ware am Warenausgang bestätigen um einen Lieferschein
                                    und eine Rechung zu erstellen.</h3>
                            </div>
                        {% else %}
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <h3>Für diese Lieferung kann keine Rechnung und Lieferschein erstellt werden, da kein einziger Artikel
                                    am Warenausgang steht.
                                </h3>
                            </div>

                            <form method="POST">{% csrf_token %}
                                <div class="col-md-12" style="padding-top:30px;">
                                    <div class="text-center">
                                        <input type="Submit" class="btn btn-danger btn-lg" value="Lieferschein und Rechnung stornieren">
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}