{% load utils %}
<form method="GET" action="{% url 'mission:delete' %}">
    {% for object in object_list %}
        <tr>
            <td>
                 <b>Pick ID: </b>{{ object.pick_id}}<br/>
                 <b>Lieferung: </b>{{ object.delivery.delivery_id }}<br/>
                 <p>
                     <a href="{% url 'mission:picklist' partial_pk=object.partial.pk pk=object.partial.mission.pk %}">Zum Pickauftrag</a>
                 </p>
            </td>
            <td>
                {% if object.delivery.difference_delivery_date_today > 0 %}
                     <span class="label label-danger">
                         {{ object.delivery.difference_delivery_date_today }} Tage
                     </span>
                {% elif object.delivery.difference_delivery_date_today <= 0 %}
                     <span class="label label-success">
                         {{ object.delivery.difference_delivery_date_today|cut:"-"  }} Tage
                     </span>
                {% endif %}
            </td>
            <td>{{ object.delivery.delivery_date }}</td>
        </tr>
    {% endfor %}
</form>