{% extends 'base.html' %}


{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="pull-right">
                    <p><a href="{% url 'mission:detail' pk=delivery.mission.pk %}">Zur Ansicht</a></p>
                </div>
            </div>
            {% if picklist|length == 0 %}
                    <div class="col-md-12">
                        <h3>Keine Pickliste vorhanden</h3>
                        <p>Sie können <a href="{% url 'mission:create_picklist' pk=delivery.mission.pk delivery_pk=delivery.pk%}">hier</a> eine Pickliste erstellen</p>
                    </div>

            {% else %}
                <div class="col-md-12">
                    <h3>Pick ID: {{ delivery.picklist_set.first.pick_id }}</h3>
                </div>
                {% with pick_row=picklist.0.0 %}
                    {% with pick_form=picklist.0.1  %}
                        {% if pick_row.confirmed == None %}
                            <div class="col-md-12" style="padding-left:0px;">
                                <div class="col-md-12">
                                    <h3>{{ pick_row.product_mission.product.title|default:'' }}</h3>
                                </div>
                                <div class="col-md-3">
                                    {% if pick_row.product_mission.product.main_image %}
                                        <img
                                            src="{{ pick_row.product_mission.product.main_image.url }}"
                                            class="img-responsive" style="max-height:200px;">
                                    {% endif %}
                                </div>
                                <div class="col-md-9">
                                    <br/>
                                    <p style="font-size:15px;"><b>EAN/SKU:</b> {{ pick_row.product_mission.get_ean_or_sku }}</p>
                                    <p style="font-size:15px;"><b>Zustand:</b> {{ pick_row.product_mission.state }}</p>
                                    <p style="font-size:15px;"><b>Lagerplatz:</b> {{ pick_row.position|default:"" }}</p>
                                    <p style="font-size:15px;"><b>Menge:</b> {{ pick_row.amount }}</p>
                                    <div class="col-md-6" style="padding:0px;pading-bottom:15px;">
                                        <form method="POST" action="?pick_id={{ pick_row.pk }}">{% csrf_token %}

                                            <div class="input-group">
                                            {{ pick_form.missing_amount }}
                                              <span class="input-group-btn">
                                                <input class="btn btn-primary" type="submit" value="Ausbuchen">
                                              </span>
                                            </div><!-- /input-group -->
                                            <div style="color:red;">
                                                {% for missing_amount_error in pick_form.missing_amount.errors %}
                                                    {{ missing_amount_error }}
                                                {% endfor %}
                                            </div>
                                            {{ pick_form.non_field_errors }}
                                            <div class="input-group">
                                            </div>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endwith %}
            <div class="col-md-12" style="padding-right: 30px;padding-top:30px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Bild</th>
                                <th>EAN / SKU</th>
                                <th>Zustand</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for picklist_row, pick_form in picklist %}
                                <tr
                                    {% if picklist_row.confirmed == True %}
                                        class="success"
                                    {% elif picklist_row.confirmed == False %}
                                        class="danger"
                                    {% endif %}
                                >
                                    <td>
                                        {% if picklist_row.product_mission.product.main_image %}
                                            <img
                                                src="{{ picklist_row.product_mission.product.main_image.url }}"
                                                class="img-responsive" style="max-height:80px;">
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ picklist_row.product_mission.get_ean_or_sku }}
                                    </td>
                                    <td>
                                        {{  picklist_row.product_mission.state }}
                                    </td>
                                </tr>
                                <tr
                                    {% if picklist_row.confirmed == True %}
                                            class="success"
                                        {% elif picklist_row.confirmed == False %}
                                            class="danger"
                                        {% endif %}
                                >
                                    <td colspan="3">
                                        <div class="col-md-6" style="padding:0px;">
                                        <p><b>Artikelname: </b>{{  picklist_row.product_mission.product.title|default:"" }}</p>


                                        <p><b>Lagerplatz: </b>{{ picklist_row.position }}</p>


                                        <p><b>Menge: </b>{{ picklist_row.amount }}</p>
                                        {% if picklist_row.confirmed == True or picklist_row.confirmed == False %}
                                            <p style="color:green;font-size:13pt;"><b>Ausgebuchte Menge: </b>{{  picklist_row.amount_minus_missing_amount|default:"0" }}</p>

                                            {% if picklist_row.missing_amount %}
                                              <p style="color:red;font-size:13pt;"><b>Fehlende Menge: </b>{{  picklist_row.missing_amount|default:"0" }}</p>
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
            {% endif %}
        </div>
    </div>
    <style>


    </style>
{% endblock %}