{% extends 'base.html' %}
{% load utils %}


{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
        {% if new_partial_products %}
            <div class="col-md-12">
                    <div class="pull-right">
                        <a href="{% url 'mission:detail' pk=object.pk %}">Zur Ansicht</a>
                    </div>
                    <p style="font-size:15px;"><b>Auftragsnummer: </b>{{ object.mission_number }}</p>
                    <p style="font-size:15px;"><b>Liefertermin: </b>{{ object.delivery_date }}</p>
                    <p style="font-size:15px;"><b>Status: </b> {{object.status}}</p>
                    <hr/>
                    {% if object.customer %}
                        <p style="font-size:15px;"><b>Kunde: </b>
                        {{ object.customer }}</p>
                    {% endif %}
            </div>
            {% if object.customer %}
                {% if object.customer.contact.billing_address %}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Rechnungsadresse
                            </div>
                            <div class="panel-body">
                                {% if object.customer.contact.billing_address.firma %}
                                <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Firma: </b>
                                    {{ object.customer.contact.billing_address.firma }}</p>
                                {% endif %}
                                {% if object.customer.contact.billing_address.strasse %}
                                <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Adresse: </b>
                                    {{ object.customer.contact.billing_address.strasse }}
                                    {% if object.customer.contact.billing_address.hausnummer %}
                                      {{ object.customer.contact.billing_address.hausnummer|default:"" }}
                                    {% endif %}
                                </p>
                                {% endif %}
                                {% if object.customer.contact.billing_address.place %}
                                <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Ort: </b>
                                    {{ object.customer.contact.billing_address.place }}</p>
                                {% endif %}
                                {% if object.customer.contact.billing_address.zip %}
                                <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Plz: </b>
                                    {{ object.customer.contact.billing_address.zip }}</p>
                                {% endif %}
                                {% if object.customer.contact.billing_address.adresszusatz %}
                                    <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Adresszusatz: </b>
                                    {{ object.customer.contact.billing_address.adresszusatz }}</p>
                                {% endif %}
                                {% if object.customer.contact.billing_address.adresszusatz2 %}
                                    <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Adresszusatz 2: </b>
                                    {{ object.customer.contact.billing_address.adresszusatz2 }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if object.customer.contact.delivery_address %}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Lieferadresse
                            </div>
                            <div class="panel-body">
                                {% if object.customer.contact.delivery_address.firma %}
                                    <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Firma: </b>
                                        {{ object.customer.contact.delivery_address.firma }}</p>
                                {% endif %}
                                {% if object.customer.contact.delivery_address.strasse %}
                                    <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Adresse: </b>
                                        {{ object.customer.contact.delivery_address.strasse }}
                                        {% if object.customer.contact.delivery_address.hausnummer %}
                                          {{ object.customer.contact.delivery_address.hausnummer|default:"" }}
                                        {% endif %}
                                    </p>
                                {% endif %}
                                {% if object.customer.contact.delivery_address.place %}
                                    <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Ort: </b>
                                        {{ object.customer.contact.delivery_address.place }}</p>
                                {% endif %}
                                {% if object.customer.contact.delivery_address.zip %}
                                    <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Plz: </b>
                                        {{ object.customer.contact.delivery_address.zip }}</p>
                                {% endif %}
                                {% if object.customer.contact.delivery_address.adresszusatz %}
                                    <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Adresszusatz: </b>
                                    {{ object.customer.contact.delivery_address.adresszusatz }}</p>
                                {% endif %}
                                {% if object.customer.contact.delivery_address.adresszusatz2 %}
                                    <p style="font-size:15px;"><b>&nbsp;&nbsp;&nbsp;Adresszusatz 2: </b>
                                    {{ object.customer.contact.delivery_address.adresszusatz2 }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br/>
            {% endif %}
        {% endif %}

        <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <div class="thead">
                            <tr>
                                <th>Bild</th>
                                <th>EAN / SKU</th>
                                <th>Artikelname</th>
                                <th>Zustand</th>
                                <th>Liefermenge</th>
                                <th>Lagerbestand</th>
                                <th>Einzelpreis (Netto)</th>
                                <th>Gesamtpreis (Netto)</th>
                            </tr>
                        </div>
                        <div class="tbody">
                            {% for product_mission, amount, product_stock in new_partial_products %}
                                <tr>
                                    <td>
                                        {% if product_mission.product.main_image %}
                                            <img src="{{ product_mission.product.main_image.url }}" class="img-responsive" style="max-height: 90px;"/>
                                        {% endif %}
                                    </td>
                                    <td>{{ product_mission.get_ean_or_sku }}</td>
                                    <td>{{ product_mission.product.title |default:"" }}</td>
                                    <td>{{ product_mission.state }}</td>
                                    <td>{{ amount }}/{{ product_mission.amount }}</td>
                                    <td>{{ product_stock }}</td>
                                    <td>{{ product_mission.netto_price|format_number_thousand_decimal_points }}</td>
                                    <td>{{ product_mission.netto_price|multiply:amount|format_number_thousand_decimal_points }}</td>

                                </tr>
                            {% endfor %}
                        </div>
                    </table>
                </div>
            </div>
            <div class="text-center">
                <form method="POST">{% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-lg" value="Reservieren">
                </form>
            </div>
        </div>
        {% else %}
                <h3>Es können keine neuen Lieferscheine oder Rechnungen generiert werden</h3>
                <h4>Passen Sie gegebenfalls Lagerbestände an.</h4>
        {% endif %}
    </div>
{% endblock %}