<!DOCTYPE html>
<html lang="en">
<head>
  <title>ERPGhost</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% include 'js.html' %}	

{% include 'css.html' %}

{% block js %}

{% endblock %}
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f5f5f5;
      padding: 25px;
    }


  </style>

</head>
<body style="background-color:#f5f5f5;">

{% include 'snippets/menu.html' %}


<div class="page-header" style="background-color:#252f3d;color:white;">
  <div class="container text-center">
	{% block navigation %}


	{% endblock %}
  </div>
</div>
  
<div class="container" id="main-container">
	{% block content %}

	{% endblock %}
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>

