<!DOCTYPE html>
<html lang="en">
<head>
    <title>ERPGhost - {% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'js.html' %}

    {% include 'css.html' %}

    {% block js %}

    {% endblock %}

</head>
<body style="background-color:#f5f5f5;">

{% include 'snippets/menu.html' %}

{% include 'snippets/whereami.html' %}


<div class="container" id="main-container">
    {% block content %}

    {% endblock %}
</div>

<footer class="container-fluid text-center">
    <p>Copyright© ERPGhost</p>
</footer>

</body>


</html>

