{% load static %}
<!-- Latest compiled and minified CSS -->
<!-- Latest compiled and minified CSS -->

<style>
    .success_input {
        border: 2px solid #5cb85c;
        -webkit-box-shadow: 0px 0px 4px #5cb85c;
        -moz-box-shadow: 0px 0px 4px #5cb85c;
        box-shadow: 0px 0px 4px #5cb85c;

    }

    .error_input {
        border: 2px solid #d9534f;
        -webkit-box-shadow: 0px 0px 4px #d9534f;
        -moz-box-shadow: 0px 0px 4px #d9534f;
        box-shadow: 0px 0px 4px #d9534f;

    }

        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f5f5f5;
            padding: 25px;
        }


</style>


