{% load static %}
<!-- Latest compiled and minified CSS -->
<!-- Latest compiled and minified CSS -->

<style>
    .success_input {
        border: 2px solid #5cb85c;
        -webkit-box-shadow: 0px 0px 4px #5cb85c;
        -moz-box-shadow: 0px 0px 4px #5cb85c;
        box-shadow: 0px 0px 4px #5cb85c;

    }

    .error_input {
        border: 2px solid #d9534f;
        -webkit-box-shadow: 0px 0px 4px #d9534f;
        -moz-box-shadow: 0px 0px 4px #d9534f;
        box-shadow: 0px 0px 4px #d9534f;

    }

        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f5f5f5;
            padding: 25px;
        }


        .table-borderless > tbody > tr > td,
        .table-borderless > tbody > tr > th,
        .table-borderless > tfoot > tr > td,
        .table-borderless > tfoot > tr > th,
        .table-borderless > thead > tr > td,
        .table-borderless > thead > tr > th {
            border: none;
        }

.btn-primary {
  color: #ffffff; 
  background-color: #3c8dbc;
  border-color: #367fa9;
  background-image: linear-gradient(to bottom, #3c8dbc 0, #3c8dbc 100%)
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #ffffff; 
  background-color: #1778A1;
  border-color: #367fa9;
  background-image: linear-gradient(to bottom, #1778A1 0, #1778A1 100%)

} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #1B8CBD; 
  border-color: #0A2430; 
} 
 
.btn-primary .badge { 
  color: #1B8CBD; 
  background-color: #ffffff; 
}


.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color: #2aabd2;
    border-color: #28a4c9;
}

.btn-success {
  color: #ffffff;
  background-color: #34a12c;
  border-color: #0ca121;
  background-image: linear-gradient(to bottom, #34a12c 0, #34a12c 100%)
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #0ca121;
  border-color: #34a12c;
  background-image: linear-gradient(to bottom, #0ca121 0, #0ca121 100%)

}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #34a12c;
  border-color: #173027;
}

.btn-success .badge {
  color: #34a12c;
  background-color: #ffffff;
}

.errorlist {
    color: red;
}
.errorlist li {
    list-style-type: none;
}

</style>


