{% load static %}

<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<!-- Optional theme -->
<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">

<script type="text/javascript" src="{% static "js/vendor/jquery.js" %}"></script>



<!-- Latest compiled and minified JavaScript -->
<script src="{% static "js/vendor/bootstrap.min.js" %}"></script>


<link rel="stylesheet" href="{% static "css/custom_jquery-ui.css" %}">
<link rel="stylesheet" href="{% static "css/jquery-ui.theme.min.css" %}">

<script src="{% static "js/vendor/jquery-ui.js" %}"></script>
<script src="{% static "js/vendor/jquery-regional-de.js" %}"></script>

<link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">

<script>
    $(function () {
        $(".datepicker").datepicker($.extend({}, $.datepicker.regional["de"], {
            numberOfMonths : 1,
            showButtonPanel : true,
            dateFormat : "dd/mm/yy"
        }));

    });

    $(document).ready(function(){
        $(".datepicker").keyup(function(e){
            if(e.keyCode == 8 || e.charCode == 8){
                this.value = "";
            }
        });
        $('[data-toggle="tooltip"]').tooltip();
    });


</script>


<!-- Latest compiled and minified JavaScript -->
