{% load static %}
<!-- <script data-main="{% static 'js/app/main.js' %}" src="{% static 'js/vendor/require.js' %}"></script> -->

<!-- <script data-main="{static "js/app/main.js"}" src="{% static "js/vendor/require.js" %}"></script> -->

<script type="text/javascript" src="{% static "js/vendor/jquery.js" %}"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="{% static "js/vendor/bootstrap.min.js" %}"></script>

<script src="{% static "js/vendor/angular.min.js" %}"></script>

<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
<script src="{% static "js/vendor/jquery-ui.js" %}"></script>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
        });
    });
</script>

<script src="{% static "js/app/functions.js" %}"></script>
<script src="{% static "js/app/masterdetail.js" %}"></script>
<script src="{% static "js/app/tables.js" %}"></script>


<!-- Latest compiled and minified JavaScript -->
