{% load utils %}
{% load static %}

<form method="GET" action="">
    <div class="col pull-right" style="padding-bottom: 10px;">
        <button type="submit" class="btn btn-default">Löschen</button>
    </div>
    {% for object in object_list %}
        <tr>
            <td>
                <a href="{% url 'disposition:truck_edit' truck_id=object.pk %}">Bearbeiten</a>
            </td>
            <td>LKW{{ object.pk }}</td>
            <td>
                {% for appointment in object.truckappointment_set.all %}
                    <p>Datum <b>{{ appointment.arrival_date|default:"" }}</b>&nbsp;
                       Uhrzeit <b>{{ appointment.arrival_time_start|default:"" }} - {{ appointment.arrival_time_end|default:"" }}</b>
                       &nbsp;<a href="{% url 'disposition:appointment_edit' appointment_id=appointment.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </p>
                {% endfor %}
                <p>
                    <a href="{% url 'disposition:appointment_to_truck' truck_id=object.pk %}" class="btn btn-info">Termin hinzufügen</a>
                </p>
            </td>
        </tr>
    {% endfor %}
</form>