{% extends 'base.html' %}


{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="pull-right">
                    <p><a href="{{ detail_url }}">Zur Ansicht</a></p>
                </div>
            </div>
            <div class="col-md-12" style="padding: 0 0 0 25px;" >
                {% if packinglist %}
                    <h3>Verpacker ID: {{ packinglist.packing_id  }}</h3>
                {% endif %}
            </div>
            {% if packinglist_products %}
                {% if picklist_all_picked == False %}
                        <div class="col-md-12">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                            <h3>Sie müssen den Pickauftrag erst vollständig abarbeiten.</h3>
                        </div>
                        </div>
                {% else %}
                    <div class="col-md-12">
                        <div class="col-md-6" style="padding: 0 0 0 10px;">
                            {% include "mission/scan/scan_master.html" %}
                        </div>

                        <div class="col-md-6" style="padding: 0 0 0 10px;">
                            {% include "mission/scan/scan_detail.html" %}
                        </div>
                    </div>
                {% endif %}
            {% else %}
                    {% if picklist_all_picked == False %}
                        <div class="col-md-12" style="padding: 0 0 0 25px;" >
                            <h3>Ware kann nicht gescannt werden</h3>
                            <p>Sie müssen erst die Pickliste vollständig abarbeiten. Sie können die Pickliste
                                <a href="{% url 'mission:picklist' pk=object.pk partial_pk=partial.pk %}">hier</a> weiter bearbeiten.</p>
                        </div>
                    {% else %}
                        {% if picklist_has_goods == False %}
                            <div class="col-md-12" style="padding: 0 0 0 25px;" >
                                <h3>Keine Ware für Lieferung gepickt
                                </h3>
                                <p>Sie können
                                    <a href="{% url 'mission:partial_delivery_note_form' pk=object.pk partial_pk=partial.pk %}">
                                        hier</a> den Vorgang stornieren und anschließend eine neue Pickliste erstellen.
                                </p>
                            </div>
                        {% endif %}
                    {% endif %}
            {% endif %}

            {% if is_packing_list_all_scanned == True %}
                <div class="col-md-12" style="padding-left: 25px;padding-top:25px;">
                <div class="text-center">
                    <a class="btn btn-info btn-lg" href="{% url 'mission:partial_delivery_note_form' pk=object.pk partial_pk=partial.pk %}"
                       style="white-space: normal;">Zu Lieferschein und Rechnung</a>
                </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% include "mission/scan/scan_script.html" %}

<style>
    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th,
    .table-borderless > tfoot > tr > td,
    .table-borderless > tfoot > tr > th,
    .table-borderless > thead > tr > td,
    .table-borderless > thead > tr > th {
        border: none;
    }

</style>
{% endblock %}