<div class="table-responsive col-md-12">
    <table class="table table-bordered table-condensed">
        <thead>
            <th></th>
            <th>Bild</th>
            <th>EAN / SKU</th>
            <th>Menge</th>
            <th>Fehlende Menge</th>
            <th>Reale Menge</th>
            <th>Einzelpreis (Netto)</th>
        </thead>
        <tbody>
            {% for real_amount_rows in real_amounts %}
                {% for real_amount_row in real_amount_rows %}
                <tr
                    {% if real_amount_row.confirmed == True %}
                        class="success"
                    {% elif real_amount_row.confirmed == False %}
                        class="danger"
                    {% endif %}
                >
                    <td  style="cursor: pointer;" class="collapse_click"
                         collapse_id="{{ forloop.counter }}">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </td>
                    <td>
                        {% if real_amount_row.product_mission.product.main_image %}
                            <div style="max-height: 80px;max-width:80px;">
                                <img src="{{ real_amount_row.product_mission.product.main_image.url }}"
                                                style="max-height:80px;" class="img-responsive">
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ real_amount_row.product_mission.get_ean_or_sku }}</td>
                    <td>{{ real_amount_row.real_amount }}</td>
                    <td>{{ real_amount_row.missing_amount|default:"" }}</td>
                    <td>{{ real_amount_row.real_amount_minus_missing_amount }}</td>
                    <td>{{ real_amount_row.product_mission.netto_price }}</td>
                </tr>
                <tr id="collapse_{{ forloop.counter }}"
                    {% if product_mission.confirmed == True %}
                        class="collapse success"
                    {% elif product_mission.confirmed == False %}
                        class="collapse danger"
                    {% else %}
                        class="collapse"
                    {% endif %}
                >
                    <td colspan="8">
                        <p><b>Artikelname: </b>{{ real_amount_row.product_mission.product.title }}</p>
                        <p><b>Kurzbeschreibung: </b>{{ real_amount_row.product_mission.product.short_description }}</p>
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>