<div class="input-group col-md-12">
    <span class="input-group-addon">
        EAN
    </span>
    <input class="form-control scan_input" id="scan_ean">
    <span class="input-group-addon">
        <input type="checkbox" class="focus" id="ean_checkbox"
               {% if last_checked_checkbox == 'ean_checkbox'%}
                    checked
                {% endif %}
               style="cursor: pointer;width: 20px; height: 20px;">
    </span>
</div>

<br/>

<div class="input-group col-md-12">
    <span class="input-group-addon">
        SKU
    </span>

    <input class="form-control scan_input" id="scan_sku" style="border-right: 0px;">

    <div class="input-group-addon" style="background-color:white;border-left:0px;border-right:0px;"></div>

    <div class="input-group" style="width:100%;">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
      </select>
    </div>

    <span class="input-group-addon">
        <input type="checkbox" class="focus" id="sku_checkbox"
                    {% if last_checked_checkbox == 'sku_checkbox'%}
                        checked
                    {% endif %}
                   style="cursor: pointer;width: 20px; height: 20px;">
    </span>






</div>


<div style="display:none;padding-top:30px;" id="confirm_detail_view">
        <p id="match_title"></p>

        <div style="max-height: 200px;max-width:200px;">
            <img src="" id="match_img" class="img-responsive" style="max-height: 200px;">
        </div>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>EAN / SKU</th>
                    <td id="match_ean_sku"></td>
                </tr>
                <tr style="display:none;">
                    <th>Zustand</th>
                    <td id="match_state"></td>
                </tr>
                <tr>
                    <th>Menge</th>
                    <td id="match_amount"></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-borderless">
            <tbody>
                <tr>
                    <form method="POST" id="confirm_form">{% csrf_token %}
                        <td><input type="submit" class="btn btn-success btn-lg" style="width:100%;" value="Ja" id="confirm_btn"></td>
                        <td><input type="submit" class="btn btn-danger btn-lg" style="width:100%;" value="Nein" id="reject_btn"></td>
                        <input name="confirmed" type="hidden">
                        <input name="product_id" type="hidden">
                        <input name="missing_amount" type="hidden">
                        <input name="last_checked" type="hidden">
                    </form>
                </tr>
            </tbody>
        </table>
</div>