{% load utils %}
<div class="table-responsive">
    <table class="table table-bordered table-condensed">
        <thead>
            <th></th>
            <th>Bild</th>
            <th>EAN / SKU</th>
            <th>Zustand</th>
            <th>Menge</th>
            <th>Fehlende Menge</th>
            <th>Reale Menge</th>
            <th>Einzelpreis (Netto)</th>
        </thead>
        <tbody>
            {% for packinglist_product in packinglist_products %}
                <tr
                    {% if packinglist_product.confirmed == True %}
                        class="success"
                    {% elif packinglist_product.confirmed == False %}
                        class="danger"
                    {% endif %}
                >
                    <td  style="cursor: pointer;" class="collapse_click"
                         collapse_id="{{ forloop.counter }}">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </td>
                    <td>
                        {% if packinglist_product.product_mission.product.main_image %}
                            <div style="max-height: 80px;max-width:80px;">
                                <img src="{{ packinglist_product.product_mission.product.main_image.url }}"
                                                style="max-height:80px;" class="img-responsive">
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ packinglist_product.product_mission.get_ean_or_sku }}</td>
                    <td>{{ packinglist_product.product_mission.state }}</td>
                    <td>{{ packinglist_product.scan_amount }}</td>
                    <td>{{ packinglist_product.missing_amount|default:"" }}</td>
                    <td>{{ packinglist_product.amount_minus_missing_amount }}</td>
                    <td>{{ packinglist_product.product_mission.netto_price|format_number_thousand_decimal_points }}</td>
                </tr>
                <tr id="collapse_{{ forloop.counter }}"
                    {% if packinglist_product.product_mission.confirmed == True %}
                        class="collapse success"
                    {% elif packinglist_product.product_mission.confirmed == False %}
                        class="collapse danger"
                    {% else %}
                        class="collapse"
                    {% endif %}
                >
                    <td colspan="8">
                        {% if packinglist_product.product_mission.product.title %}
                            <p><b>Artikelname: </b>{{ packinglist_product.product_mission.product.title }}</p>
                        {% endif %}

                        {% if packinglist_product.product_mission.product.short_description %}
                            <p><b>Kurzbeschreibung: </b>{{ packinglist_product.product_mission.product.short_description }}</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>