{% extends 'base.html' %}


{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pull-right" style="padding-bottom:20px;">
                <p><a href="{{ detail_url }}">Zur Ansicht</a></p>
            </div>
            {% if delivery_products %}
            <div class="col-md-12" style="padding-bottom: 20px;">
                <div class="col-md-6">
                    {% include "mission/scan/scan_master.html" %}
                </div>

                <div class="col-md-6">
                    {% include "mission/scan/scan_detail.html" %}
                </div>
            </div>
            {% else %}
                <h3>Für diese Lieferung wurden bereits alle Lieferscheine erstellt</h3>
            {% endif %}
        </div>
    </div>

    {% include "mission/scan/scan_script.html" %}

<style>
    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th,
    .table-borderless > tfoot > tr > td,
    .table-borderless > tfoot > tr > th,
    .table-borderless > thead > tr > td,
    .table-borderless > thead > tr > th {
        border: none;
    }

</style>
{% endblock %}