{% extends 'base.html' %}


{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover table-striped">
                <tbody>
                    {% for mission_product, stocks in missions_products_and_stocks %}
                        <tr>
                            <td>
                                <div class="col-md-2">
                                    {% if  mission_product.product.main_image %}
                                        <img class="img-responsive" style="max-height:80px;"
                                             src="{{ mission_product.product.main_image.url }}"/>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <p><b>Artikel: </b>{{ mission_product.product }}</p>
                                    <p><b>Menge: </b>{{ mission_product.amount }}</p>
                                    <p><b>Auftrag: </b>{{ mission_product.mission }}</p>
                                </div>
                                <div class="col-md-6">
                                    {% for stock in stocks %}
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <p><b>Lagerplatz: </b>{{ stock.object.lagerplatz }}</p>
                                                <p><b>Verfügbarer Bestand: </b>{{ stock.object.get_total_stocks.Neu }}</p>
                                                <p><a href="{% url 'online:book_out' pk=stock.object.pk book_out_amount=stock.bookout_amount %}">
                                                    {{ stock.bookout_amount }}x Ausbuchen</a></p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form method="POST">{% csrf_token %}
                <div class="text-center">
                    <input type="Submit" class="btn btn-primary btn-lg" value="Nachfüllauftrag annehmen"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}