{% extends 'base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-3"></div>
            <div class="text-center">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p style="font-size:20px;">
                                <b>{{ book_out_amount }}x</b> den Artikel
                                <b>
                                    {% if object.stock.product %}
                                        {{ object.stock.product.ean }}
                                    {% else %}
                                        {{ object.stock.ean_vollstaendig }}
                                    {% endif %}
                                </b>
                                von Lagerposition <b>{{ object.stock.lagerplatz }}</b> ausbuchen.
                            </p>
                            {% if product.main_image %}
                                <img class="img-responsive center-block"
                                     src="{{ product.main_image.url }}"/>
                            {% endif %}
                            <br/>
                        </div>
                        <div class="panel-footer" style="padding:0;">
                            <form method="POST">{% csrf_token %}
                                <input type="Submit" style="width:100%;height:100%;border-radius: 0;" class="btn btn-primary btn-lg" value="{{ book_out_amount }}x Ausbuchen"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}