{% load utils %}

<div class="col-md-12">
    {% if object.productmission_set.all %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Bild</th>
                        <th>EAN / SKU</th>
                        <th>Zustand</th>
                        <th>Artikelname</th>
                        <th>Auftragsmenge</th>
                        <th>Lagerbestand</th>
                        <th>Einzelpreis (Netto)</th>
                        <th>Gesamtpreis (Netto)</th>
                    </tr>
                </thead>
                <tbody>
                        {% for productmission, missing_amount, stock, delivery_amount, sent_amount in products_from_stock %}
                            {% if object.id == productmission.mission.id %}
                            <tr>
                                <td>
                                    {% if productmission.product.main_image %}
                                        <img src="{{ productmission.product.main_image.url }}" class="img-responsive" style="max-height: 90px;"/>
                                    {% endif %}
                                </td>
                                <td>
                                    {{productmission.get_ean_or_sku}}
                                </td>
                                <td>{{productmission.state}}</td>
                                <td>{{productmission.product.title|default:""}}</td>
                                <td>{{productmission.amount}}</td>
                                <td>
                                    {{ stock|default:'0' }}
                                </td>
                                <td>{{productmission.netto_price|format_number_thousand_decimal_points|default:"0"}}</td>
                                <td>
                                    {% if productmission.netto_price %}
                                        {{ productmission.netto_price|multiply:productmission.amount|format_number_thousand_decimal_points }}
                                    {% else %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>