{% load utils %}


<div class="col-md-12">
    <div class="col-md-4" style="padding:0;">
        <p style="font-size:15px;"><b>Auftragsnummer: </b>{{ object.mission_number }}</p>
        <p style="font-size:15px;"><b>Verkaufskanal: </b>{{ object.channel.name|default:"" }}</p>
        <p style="font-size:15px;"><b>Fremd ID: </b>{{ object.channel_order_id }}</p>
        <p><b>Kunde: </b>{{object.customer|default:"N/A"}}</p>
        <p>
            <b>Lieferdatum: </b>{{ object.delivery_date_from|default:"N/A"}}-{{ object.delivery_date_to|default:"N/A"}}
        </p>
        <p>
            <b>Kaufdatum: </b>{{ object.purchased_date|default:"N/A"}}
        </p>
        <p>
            <b>Bezahlungsdatum: </b>{{ object.purchased_date|default:"N/A"}}
        </p>
        <p><b>Status: </b>
            {% if status == "Verpackt" %}
                 <span class="label label-success" style="font-size:15px;">{{ status }}</span>
            {% else %}
                 <span class="label label-warning" style="font-size:15px;">{{ status|default:"Offen"}}</span>
            {% endif %}
        </p>
    </div>
    <div class="col-md-12" style="padding:0;">
        <div class="col-md-6" style="padding:5px;">
            {% include 'online/detail/delivery_address.html' %}
        </div>
        <div class="col-md-6" style="padding:5px;">
            {% include 'online/detail/billing_address.html' %}

        </div>
    </div>
</div>

<div class="col-md-12" style="padding-bottom:25px;">
    {% if object.online_picklist.online_delivery_note %}
        <a class="btn btn-info"
            href="{% url 'online:delivery_note' pk=object.pk delivery_note_pk=object.online_picklist.online_delivery_note.pk %}">
            Lieferschein
        </a>
    {% else %}
        <p class="help-block">Für den Auftrag ist noch kein Lieferschein vorhanden</p>
    {% endif %}
    {% if object.online_picklist.online_billing %}
        <a class="btn btn-info"
            href="{% url 'online:billing' pk=object.pk billing_pk=object.online_picklist.online_billing.pk %}">
            Rechnung
        </a>
    {% else %}
        <p class="help-block">Für den Auftrag ist noch keine Rechnung vorhanden</p>
    {% endif %}
</div>


{% include "online/detail/mission_products_seller.html" %}


<div class="col-md-12">
    {% if picklist_products %}
        <h3>Pickauftrag</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Artikel</th>
                    <th>Verlauf</th>
                </tr>
            </thead>
            <tbody>
                {% for mission_product, picklist_products in picklist_products %}
                    <tr>
                        <td>
                            {% if mission_product.product.main_image %}
                                <img src="{{ mission_product.product.main_image.url }}" class="img-responsive" style="max-height: 90px;"/>
                            {% endif %}
                            <p><b>EAN: </b>{{mission_product.product.ean}}</p>
                            <p><b>Zustand: </b>{{mission_product.state}}</p>
                            <p><b>Artikelname: </b>{{mission_product.product.title|default:""}}</p>
                            <p><b>Auftragsmenge: </b>{{ mission_product.amount }}</p>
                        </td>
                        <td>
                            {% for picklist_product in picklist_products %}
                                <p><b>Lagerposition: </b>{{ picklist_product.position }}</p>
                                <p><b>Pickmenge: </b>{{ picklist_product.amount }}</p>
                                <p><b>Picker: </b> {{ picklist_product.pick_list.pick_order.user }}
                                    {% if picklist_product.pick_list.pick_order.user.profile.profile_image %}
                                    <img class="img-circle img-responsive" style="max-height:80px;" src="{{ picklist_product.pick_list.pick_order.user.profile.profile_image.url  }}"/>
                                    {% endif %}
                                </p>
                                <p><b>Gepickt: </b>

                                    {% if picklist_product.picked is True %}
                                        <span class="glyphicon glyphicon-ok" style="color:green;"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                                    {% endif %}
                                </p>
                                <p>
                                    <b>Ausgebucht: </b>

                                    {% if picklist_product.confirmed is True and picklist_product.pick_list.completed is True %}
                                        <span class="glyphicon glyphicon-ok" style="color:green;"></span>&nbsp;&nbsp;&nbsp;&nbsp;<b>Menge:</b> {{ picklist_product.confirmed_amount }}
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                                    {% endif %}
                                </p>

                                <hr style="height:2px;border:none;color:#dfdfdf;background-color:#dfdfdf"/>
                            {% endfor %}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>