{% load utils %}

<div class="col-md-12">
    <div class="text-right">
        <a style="padding-left:30px;" href="">Pickauftrag</a>
    </div>
</div>
<div class="col-md-12">
    <p style="font-size:15px;"><b>Auftragsnummer: </b>{{ object.mission_number }}</p>
    <p style="font-size:15px;"><b>Liefertermin: </b>{{ object.delivery_date }}</p>
    <p style="font-size:15px;"><b>Status: </b> {{object.status}}</p>
</div>

{% include "online/detail/delivery_address.html" %}

<div class="col-md-12" style="padding-right: 0">
    <a href="{% url 'mission:mission_confirmation_pdf' pk=object.id %}" class="btn btn-info pull-right" style="margin-right:15px;">
    Auftragsbestätigung</a>
<br/><br/><br/>
</div>


{% include "online/detail/mission_products_seller.html" %}


<div class="col-md-12">
    {% for partial in object.partial_set.all %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Abschnitt {{ forloop.counter }}
            </div>
            <div class="panel-body">
            <div class="col-md-12" style="padding-left:0px;">
                <table class="table table-condensed">

                    <tbody>
                        {% for partial_product in partial.partialmissionproduct_set.all %}

                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Bild</th>
                                        <th>EAN / SKU</th>
                                        <th>Zustand</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>
                                        {% if partial_product.product_mission.product.main_image %}
                                            <img src="{{ partial_product.product_mission.product.main_image.url }}" class="img-responsive" style="max-height: 90px;"/>
                                        {% endif %}
                                    </td>
                                        <td>{{ partial_product.product_mission.get_ean_or_sku }}</td>
                                        <td>{{ partial_product.product_mission.state|default:"" }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                           <p><b>Artikelname:</b> {{ partial_product.product_mission.product.title|default:"" }}</p>
                                           <p><b>Reservierte Menge:</b> {{ partial_product.amount }}</p>
                                           <p style="color:red;"><b>Offene Menge:</b> {{ partial_product.missing_amount }}</p>
                                           <p style="color:green;"><b>Versendete Menge:</b> {{ partial_product.real_amount }}</p>
                                           <p><b>Einzelpreis (Netto):</b> {{partial_product.product_mission.netto_price|format_number_thousand_decimal_points|default:"0"}}</p>
                                           <p><b>Gesamtpreis (Netto):</b>
                                           {% if partial_product.product_mission.netto_price %}
                                                 {{ partial_product.product_mission.netto_price|multiply:partial_product.amount|format_number_thousand_decimal_points }}
                                            {% else %}
                                            {% endif %}

                                           </p>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if partial.delivery_set.all %}
                {% for delivery in partial.delivery_set.all %}
                    <div class="col-md-12" style="padding-left:0px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Lieferung <b>{{ delivery.delivery_id }}</b>
                                &nbsp;<a href=""><span class="glyphicon glyphicon-pencil"></span></a>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <p>Liefertermin: <b>{{ delivery.delivery_date }}</b></p>
                                </div>
                                {% if delivery.billing and delivery.delivery_note %}
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Rechnung <b>{{ delivery.billing.billing_number }}</b>
                                                &nbsp;<a href=""><span class="glyphicon glyphicon-pencil"></span></a>
                                            </div>
                                            <div class="panel-body">
                                                <div class="text-center">
                                                     <a href="{% url 'mission:partial_billing_pdf' pk=object.pk partial_billing_pk=delivery.billing.pk %}"
                                                               class="btn btn-info" style="white-space: normal;">Rechnung ansehen</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Lieferschein  <b>{{ delivery.delivery_note.delivery_note_number }}</b>
                                            </div>
                                            <div class="panel-body">
                                                <div class="text-center">
                                                   <a href="{% url 'mission:partial_delivery_note' pk=object.pk delivery_note_pk=delivery.delivery_note.pk %}"
                                                   class="btn btn-info" style="white-space: normal;">Lieferschein ansehen</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <div class="col-md-12" style="padding-left:0px;font-size:16px;">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <b>Keine Lieferungen vorhanden</b>
                        </div>
                    </div>
                </div>
            {% endif %}


                <div class="col-md-12" style="padding-left:0px;">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                  <a class="btn btn-info" style="white-space: normal;"  href="{% url 'mission:picklist' pk=object.pk partial_pk=partial.pk %}">Pickliste</a>
                                  <a class="btn btn-info" style="white-space: normal;" href="{% url 'mission:scan' pk=object.pk partial_pk=partial.pk %}">Verpackerliste</a>
                                  <a class="btn btn-info pull-right" style="white-space: normal;"  href="{% url 'mission:create_delivery' pk=object.pk partial_pk=partial.pk %}">Lieferung erstellen</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
